[2018-10-26 22:34] technosophos opened #3 "Add `files` array to the Bundle spec"
Per a change from @simonferquel in https://github.com/deis/duffle/pull/298, we need to add support for `files` into the spec.

This is just a way to inject files from the local filesystem into the invocation image, and is part of effort here: https://github.com/deis/duffle/issues/294

[code]

Open to discussion: Should we make this behave more like a credential or parameter?

[2018-11-06 00:01] jeremyrickard opened #9 "Reconcile fields for invocationImages and images"
Currently in the [bundle.json file spec](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md), we define the format of an invocation image and also the format for other referenced images.

There are a number of differences between these that we should reconcile before we get to far along.

Invocation Image:

* imageType (i.e. docker....The list of formats is open-ended, but any CN

[2018-11-06 17:52] technosophos opened #11 "Grant permissions to everyone who used to be able to see the spec"
In moving the spec, it appears that a large number of people have lost the ability to see this spec.

Can we please add a new group to this org, and add all the people that used to be able to read the spec?

[2018-11-06 21:28] #9 closed, assigned to nobody

[2018-11-09 00:12] lachie83 opened #13 "Add target tools section to spec"
Clarify the target tool `classes` for the spec. I think introducing the reader to these concepts frames the way in which they are considered. It may also lead to splitting up the spec into smaller specs in future.

Target tooling includes:

* runtime
* builder
* bundle tooling

[2018-11-09 00:13] lachie83 opened #14 "Investigate the addition of non-normative credentials section"
There isn't must detail about credential handling. Shall we add a non-normative section?

[2018-11-09 00:14] lachie83 opened #15 "Add RFC 2119 section to README"
Document wording nomenclature used in spec.

[2018-11-09 00:16] lachie83 opened #16 "Verify wording around Docker"
Docker images and Dockerfiles are used interchangeably in some cases. Let's use the OCI images specifically and rename as appropriate when it comes to Dockerfiles and image building.

[2018-11-09 00:17] lachie83 opened #17 "Add DCO sign-off section to README"
Add standard DCO on commits wording to README

[2018-11-09 00:18] lachie83 opened #18 "Update keywords to be RFC 2119 compliant"
Update instances of:
* need not
* ought/ought not

[2018-11-09 00:37] lachie83 opened #19 "Update json examples to match spec"
There are some instances of json snippets not matching the spec. We need to make sure they reflect the defined spec

[2018-11-13 05:21] #11 closed, assigned to nobody

[2018-11-13 05:49] lachie83 opened #21 "Add CLA Bot"
Install DCO Bot - https://github.com/integration/dco

[2018-11-13 06:21] lachie83 opened #23 "Settle on RFC 2119 keyword use formatting"
We have a mixture of formatting of RFC2119 keywords.

Let's settle on a standard:

*  Option 1: _keyword_
* Option 2: KEYWORD

[2018-11-13 21:39] #18 closed, assigned to nobody

[2018-11-13 21:46] #3 closed, assigned to nobody

[2018-11-13 23:06] #15 closed, assigned to lachie83

[2018-11-13 23:06] #17 closed, assigned to nobody

[2018-11-14 19:21] lachie83 opened #26 "Specification versioning"
We need to implement a specification versioning scheme and release process

[2018-11-14 19:23] lachie83 opened #27 "Build spec compliance/conformance test"
We need to determine whether tooling and/or bundles are CNAB spec compliant. Let's determine the best path do doing that

[2018-11-17 00:58] #26 closed, assigned to nobody

[2018-11-20 04:39] #23 closed, assigned to nobody

[2018-11-20 20:02] #19 closed, assigned to nobody

[2018-11-26 16:44] duglin opened #37 "What does 'this' refer to?"
in 100-CNAB, there's this line:
[code]
Does "this document" refer to the current md file (100-CNAB) or does it mean the bundle? I'm guessing it should be "Finally, the bundle describes...." but I'm not 100% sure so I didn't open a PR

[2018-11-26 18:20] duglin opened #39 "101-bundle-json.md questions/comments"
It feels a little like the bundle definition is repeated 3 times, first informally (in the section that starts with "A bundle.json is broken down into the following categories of information...") because it talks about it in generic terms - but also tries to be kind of prescriptive about its contents and only partially using RFC2119 keywords so I'm not sure how "spec-ish" this section is meant to

[2018-11-26 18:32] duglin opened #40 "Provide a killer example in the intro"
As I make my way through the docs/spec, while I think I understand each piece being presented, what's missing for me is a high-level example to make the concepts concrete. For example, what do you think about providing a really simple (yet compelling) use-case that you walk through in an intro section of the 100 doc?  Something that highlights the pain-point that's being addressed. Talk about how

[2018-11-26 21:02] #13 closed, assigned to nobody

[2018-11-26 21:03] #14 closed, assigned to nobody

[2018-11-26 21:51] #16 closed, assigned to nobody

[2018-11-27 21:31] #21 closed, assigned to nobody

[2018-11-28 21:55] duglin opened #42 "102-invocation-image.md questions/comments"
Do you expect this to also be provided for the other images as well?  Do you expect the actual Dockerfile to be there or just a pointer to where it lives - like a URL to it in a github repo? I would expect some consistence here between all of the images.

Including the Dockerfile is an interesting choice... how much other info do you expect people to include to be able to fully rebuild the image?

[2018-11-30 20:46] mattfarina opened #45 "Namespacing names"
The names need to be namespaced. Without namespacing we can run into collision issues and confusion.

I'm assuming we know why namespacing is needed. I'm happy to go into detail if anyone needs it.

Before one or more proposed implementations come in as a pull request I thought it would be good to capture some requirements in an issue that can be referenced.

1. Namespacing should be 2 or more lev

[2018-12-04 18:20] philips opened #48 "106 is missing"
https://github.com/deislabs/cnab-spec/blob/master/106-declarative-images.md

[2018-12-04 18:21] philips opened #49 "107 is missing"
https://github.com/deislabs/cnab-spec/blob/master/107-repositories.md

[2018-12-04 18:52] philips opened #51 "200 Repositories, why not OCI distribution"
Why is [200 repositories](https://github.com/deislabs/cnab-spec/blob/master/200-repositories.md) not based on the [OCI distribution spec](https://github.com/opencontainers/distribution-spec)?

OCI distribution was designed to handle different mime-types and since CNAB is a single bundled string of bytes this seems like a reasonable use case for it.

The upside is that every OCI/Docker registry cou

[2018-12-04 19:03] bacongobbler commented on #51
Hey @philips, we are actively discussing this with the Docker team over in https://github.com/deislabs/duffle/issues/300. The repository spec as it stands is still in-flux. We'd love to hear your feedback!

[2018-12-04 19:08] technosophos commented on #51
The repository spec is very early, and is :100: going to change (probably substantially) over the coming months.

[2018-12-04 19:20] jbeda commented on #51
It would be great to see support for uploading/downloading file bundles (with layers/dependencies) be separated out from the rest of the CNAB spec.  There are use cases for having a "signed tarball" system outside of application packaging.  This could either be by using/evolving the OCI dist spec or working widely to motivate something new.  Clean layering here will make it more likely that the sp

[2018-12-04 19:31] bacongobbler commented on #51
Hey @josephschorr,

During very early proof-of-concept stages, We tried to fork distribution and add custom media types for CNAB, but due to time constraints/lack of experience when it comes to adding custom media types to docker/distribution we decided to go with a quick MVP to demonstrate the idea of hosting bundles in a repository. We do think that moving to the OCI distribution spec would be a

[2018-12-04 21:56] #48 closed

[2018-12-04 21:56] #49 closed

[2018-12-05 00:12] philips commented on #51
@bacongobbler @technosophos I would love to figure out how to get a commitment from the team that the goal is to use OCI distribution as the only network transport.

The cloud native ecosystem really doesn't need yet another binary asset server that everyone has to implement, audit, and maintain.

I am sure any number of folks at Docker or working on the open containers project would help. cc @can

[2018-12-05 06:46] SteveLasker commented on #51
Not a surprise, but yes. We have been working to get all the right folks together to have CNAB _and Helm_ take advantage of all the work done in Registries. This [Proposal to converge helm repositories with docker registries #55](https://github.com/helm/community/pull/55) has become a lengthy discussion on the topic. Short answer; any company that has invested in making registries scale would real

[2018-12-06 17:08] mattfarina commented on #51
@philips There have been background conversations going on about just this. We have now taken the conversation to the OCI to figure out the appropriate way to move this forward.

[2018-12-07 13:37] garethr commented on #51
@philips yes, we've been having the same conversations. Docker App (https://github.com/docker/app
) implements CNAB and pushes to an OCI registry all ready. Thinks moving a touch quickly the last few weeks.

@simonferquel has been doing some of this work, likely to have more links and information.

[2018-12-13 08:26] wking opened #54 "Lean on JSON Schema for parameter validation?"
The spec has had parameter validation since fd3d65a0ffe (#1), but the existing constraints are fairly limited and are maybe unique to this specification.  Can we use JSON Schema's [validation keywords][1] (or a subset of those keywords) instead of rolling a custom validation format?

[1]: https://tools.ietf.org/html/draft-handrews-json-schema-validation-01#section-6

[2018-12-13 08:34] wking commented on #51
[Here][1] is the `dev@opencontainers.org` thread on distributing arbitrary media types in [distribution-spec][2] registries, for folks who want to follow along there ;).

[1]: https://groups.google.com/a/opencontainers.org/forum/#!topic/dev/U49AZRFo3tk
[2]: https://github.com/opencontainers/distribution-spec

[2018-12-16 13:09] itaysk opened #55 "Parameter validation"
Parameters specify basic validation rules (e.g. min/max length, type). I'm wondering why not use JSON schema for a complete rule set which is standard, comprehensive and easy to implement?

[2018-12-16 13:11] itaysk opened #56 "conflicting parameter names"
Spec should address the case of conflicting parameter names, for example the image already has a similar env var at runtime. This is a rare edge case but better to define the behaviour in the spec rather than to leave for implementors to decide (or worse, to not decide).

[2018-12-16 13:16] itaysk opened #57 "Claim result message"
As I understand, a claim `result.message` is the entire stdout of the invocation image (BTW, this should be written more clearly).
This design has a few issues:
1. stdout is conventionally used more loosely to communicate with the user. Restricting stdout to a concise message feels unnatural.
2. It's not always easy to control what's being written by other tools. The sample redirects every command

[2018-12-16 13:38] itaysk opened #58 "image substitution"
Images used by the application are referenced in the bundle and substituted by the runtime. At first I thought about substitution scenarios which are not defined in the spec like case sensitivity, substrings, wildcards, and more.. But then it occurred to me that it's better to just use regexp substitution, possibly with the familiar `sed` format. For simple uses it won't impose too much burden on

[2018-12-16 13:38] itaysk commented on #58
also addresses https://github.com/deislabs/cnab-spec/blame/master/101-bundle-json.md#L269

[2018-12-16 17:12] bacongobbler commented on #55
Perhaps https://github.com/deislabs/cnab-spec/pull/36 is relevant to this discussion.

[2018-12-18 17:45] simonferquel opened #61 "Confusion between image names and digests"
`images` and `invocation images` objects have both an image reference and a digest field. However, an image reference can already contains a digest (for immutable image references), which is very confusing.

I suggest that we drop the `digest` field, and make a comment on the `image` field like:
- `image` MAY contain a muttable image reference (`[registry/]repository[:tag]`) when the package is un

[2018-12-18 17:52] simonferquel commented on #58
For some scenarios, declarative substitutions might not be enough (e.g.: replacements inside heavily templated files that are not valid yaml/json/toml, or replacements in compiled code data structures). For this, I suggest that complementary to the declarative approach, we also inject a map of `component name -> image name` in a well known location of the invocation image at run time. PR https://g

[2018-12-18 23:44] #51 closed

[2018-12-20 19:46] amanjeev opened #63 "Timestamp suggestion"
Starting a discussion about the question/TODO on [104-claims](https://github.com/deislabs/cnab-spec/blob/a51d5b11700b076625bedb9ac08dfa73481adfc6/104-claims.md) -

I know you might have thought about it already but I could not find a Github issue with this so just thinking out loud -- How about using **ISO-8601** formatted timestamp?

[2018-12-21 06:28] afkham opened #64 "Real world use cases for thick bundles?"
I am trying to understand where thick bundles will be useful. I have gone through the ycombinator thread as well as the spec, but it is not clear why anyone would really need this. Can someone provide some concrete examples. Thanks.

[2018-12-21 08:54] nadundesilva opened #65 "Dependency Management Model for bundles"
I've been going through the Spec and I was thinking about how a user can create a bundle that depends on multiple bundles. In the current Spec, we do have the ability to share bundles and thereby reuse them. But there is no concept of dependencies between them.

In a distributed system composed of many components running on heterogeneous environments, we would probably create multiple bundles for

[2018-12-30 22:47] garethr opened #66 "Questions on specificity of the specifcation"
Before spotting #36 I wrote up a sample JSON Schema for `bundle.json`, and jotted down a few ambiguities or questions I came across. See  https://gist.github.com/garethr/5e45b35bff950ad3b62dd98fe592f3d3 for the schema.

1. is `schemaVersion` required?
2. If `schemaVersion` is not required, what is the expected behaviour?
3. The example in the spec has a `uri` field for images, but the spec doesn't

[2018-12-30 23:32] garethr commented on #55
I don't think #36 is relevant here. I think the suggestion is, rather than introduce the various custom validation attributes on `parameters` (ie. `minValue`, `maxValue`, `minLength`, `maxLength` and `allowedValues`) why not simply permit the use of JSON Schema? ie. users can provide a schema for there parameters? This benefits from being already specified and much more comprehensive than the 5 at

[2018-12-30 23:56] garethr commented on #64
In my view I think there are a two main use cases for the thick bundles:

1. *A single signed artefact* - it's useful in some security-conscious environments to have a single artefact, without any dependencies, which can be individually reasoned about, have metadata associated with it, can be cryptographically signed, etc.
2. *Offline installation* - either as a subset of the security conscious us

[2018-12-31 07:36] isurulucky opened #67 "Support for parameters in a file/other format?"
In the current CNAB spec, the parameters are defined inline with the bundle.json file. These parameters can either be exposed to the Invocation Image either as a environment variable or can be written to a file. However, for an application component which is depending on a defined configuration model in the form of a file (json/xml, etc.), the configuration values being exposed as environment vari

[2018-12-31 14:19] garethr commented on #66
A further question came up while using the schema:

8. At present `modifies` on `actions` are not required, however the default behaviour isn't specified.

[2018-12-31 20:19] joenoon commented on #42
I'm curious about this as well.  We currently develop an application consisting of multiple containers.  This is great for many scenarios - on-prem with some IT, private/public cloud, generally any scenario where the word linux doesn't cause a blank stare.  But where we currently don't have a good plan is for the low-tech Windows user who we'd like to be able to "install" our app.

Reading through

[2019-01-01 20:00] garethr opened #69 "Potential for clash in environment vars with credentials"
Consider the following

[code]

Note both the parameter and credential attempting to put a value in the same ENV. I think this should be invalid. It's not possible to pass both values as the same environment variable, but it's easy enough in the client to fail early.

I don't think I saw mention of this in the spec, and I think the behaviour should be specified rather than left to clients.  Openin

[2019-01-05 19:58] radu-matei commented on #69
And I don't think this is restricted to environment variables either - clashing file paths between credentials and parameters can exists as well in this case, right?

[2019-01-05 20:49] garethr commented on #69
Ah, yes. I just haven't got round to implementing file path params yet so hadn't though about that.

I think I'm of the same mind, duplicate paths should be invalid.

[2019-01-11 09:48] nadundesilva commented on #65
After taking a look at [Porter](https://github.com/deislabs/porter), it looks like you have already planned to introduce a Dependency Model for CNAB. Do you have any plans to add it to the Spec as well?

[2019-01-11 16:12] carolynvs commented on #65
Porter works around the lack of dependencies in the runtime spec by identifying dependencies before the invocation image is built, and then including them in the invocation image at build time. The final result is a single invocation image and the tool executing the bundle (duffle) is unaware that dependencies were involved at all.

[2019-01-11 17:17] garethr commented on #65
This is similar to the view we came to thinking about this in docker app as well. That dependencies are more of a build-time concern in CNAB. I'll try and rationalise that view.

I think this is definitely true. If we take a whole system view that's not one application, but multiple. That doesn't say anything about dependencies however.

Thinking about this first in the context of these not being

[2019-01-13 14:20] pedropaulino opened #70 "Localization for Brazilian Portuguese."
Is there any chances to localize the specification for the Brazilian Portuguese Language ?

[2019-01-13 18:13] garethr commented on #70
I'd be interested in how other open standards bodies and open standards handle localisation. Does anyone have any good examples?

[2019-01-15 23:03] technosophos opened #72 "Use Canonical JSON"
We should use Canonical JSON so that hashing is consistent across implementations.

[2019-01-24 00:15] technosophos commented on #67
What is "local filesystem" in this context?

- The system from which a client is run (Assuming there is a client)
- The host running the invocation image
- The inside filesystem of the invocation image
- Other

[2019-01-24 00:18] technosophos commented on #66
I noticed the schemaVersion thing while working on another PR, and made it required: https://github.com/deislabs/cnab-spec/pull/73/files

[2019-01-24 00:20] technosophos commented on #66
For `modifies`, I think we probably should  make it `false` by default.

[2019-01-24 00:22] technosophos commented on #66
I'll do an update an PR it

[2019-01-24 00:34] technosophos commented on #66
Okay, a few clarifications as I work through this:

- For additional properties, I decided not to get too strict on this version of the schema. I tried to prevent the top level object from being co-opted like in `package.json`, but ignored most of the nested objects. I'm open to guidance on what we should do here.
- For `uri`, I'm not totally sure what this is for. @bacongobbler can you clarify?
-

[2019-01-24 01:46] technosophos commented on #64
Our main use case is air gap networks like a SCIF. The idea is that you export a signed artifact to some physical media, and then move it across a physical boundary. But when you reconstitute the bundle on the "far side", you can still assert the integrity of the entire application.

It's also convenient for long-term storage.

[2019-01-24 01:55] technosophos commented on #63
I went to hunt this down, since it is not specified in the JSON spec. It looks like the ECMAScript standard (JavaScript) defines it this way: https://www.ecma-international.org/ecma-262/9.0/index.html#sec-date-time-string-format

That is ISO-8601 Extended Format. So I will adopt @amanjeev 's recommendation and add that to the spec.

[2019-01-24 02:01] technosophos commented on #61
This was originally an artifact of the confusion between image IDs and the SHA computed by the registry. @jeremyrickard do we have enough clarity on this to choose one over the other at this point?

[2019-01-24 02:08] technosophos commented on #57
Where would this message come from?

And which exit code? The exit of the invocation image? Or of something inside of the invocation image?

Our main issue with returning information is that there is no native facility for message passing between a container and the container's runtime environment. Basically, we're limited to STDOUT and STDERR, with the potential option of attaching files to at le

[2019-01-24 02:15] technosophos commented on #55
The version in the present CNAB specification comes from ARM templates.

I like the idea of using JSON Schema rules. But we'd have to figure out how to constrain it to just key/value pairs, since there are not arbitrary depth parameter value containers. (The only possible targets are environment variable values and file contents.

I think this might also get us closer to supporting binary data par

[2019-01-24 02:17] technosophos commented on #55
Issue #54 provides a more precise solution using JSON Schema. I will look into that.

[2019-01-24 02:37] technosophos commented on #54
FWIW, it was not a custom validation format. It was ARM Template syntax, which was the base syntax from which CNAB originally derived. ARM, for example, did not use floats because of the precision problems. ARM was also oriented around generating formats easy for UIs to display. But really, this is the last vestige of ARM, so... I am fine with removing it.

[2019-01-24 16:31] jeremyrickard commented on #61
I think we have enough clarity to know that the _proper_ thing for a signed bundle is a digested (immutable) reference.

I like Simon's suggestion and I think the mutable image reference during development is good from a UX perspective. We need to tweak what Duffle is doing to support this (i.e. we are signing the bundles w/o digesting the image right now).

[2019-01-24 16:43] technosophos commented on #61
Just to be 💯 clear, I should drop the `digest` field out of the spec at this point, and instead recommend that the `@sha...` be added to the image.

[2019-01-24 23:36] technosophos commented on #67
I talked to @vdice about this issue a little bit today. I think I understand better.

If the desire is to take a file from the client's local system and send it into a CNAB bundle, this is accomplished already in `duffle` using the a flag:

[code]

[2019-01-25 06:44] bacongobbler commented on #66
According to [this commit in duffle](https://github.com/deislabs/duffle/commit/2d750ac4beca530d8aa5c8816325a1c9e799b7a8), the `uri` field was for the image's canonical name and tag. This should probably be updated to the `image` field like what's referenced [in the schema file](https://github.com/deislabs/cnab-spec/blob/e32982a866cc9dff86f89e3f25f28afdcc7539cf/schema/bundle.schema.json#L157-L160).

[2019-01-25 06:49] itaysk commented on #56
it's not what I meant but reading this again after a while it seem over specification so I'll close this

[2019-01-25 06:49] #56 closed

[2019-01-25 08:41] itaysk commented on #57
For exit code:
IMO should be the exit code of the invocation image, which is controlled by the image developer or takes the exit code of the contained command (unless the container runtime had an error).

For communicating result message:
At my prev workplace they solved a similar issue by mounting a volume which was the easiest solution. I could agree it adds a level of complexity however volume

[2019-01-25 16:44] technosophos commented on #57
Okay, I'll look into these ideas.

Our complicating factor is that not all invocation images will execute on a local Docker daemon. Some will execute remotely (inside of Kubernetes or server-hosted container runtimes like those provided by Azure and Amazon) or even virtual machines. So the solution has to be generic enough to handle those cases. But mounting filesystems might be the most straightf

[2019-01-25 16:55] technosophos commented on #56
Sorry for the misunderstanding.

[2019-01-25 16:56] technosophos commented on #66
Okay. I will try to fix that up.

[2019-01-28 18:56] #69 closed

[2019-01-28 18:57] #63 closed

[2019-01-28 19:19] technosophos opened #82 "Replace OpenPGP with TUF/In-Toto"
Over the course of development, we've realized some pretty severe limitations with the OpenPGP signing method we've been using. After investigation, the plan is to make these changes:

- Switch our paradigm from "sign on build" to "sign on delivery", which means we will not sign until (a) a bundle is pushed to a repo, or (b) a bundle is exported
- Switch our repository signing strategy to use TUF

[2019-01-28 19:20] technosophos commented on #82
A few references:

- TUF: https://github.com/theupdateframework/tuf
- In-Toto: https://github.com/in-toto/in-toto

[2019-01-29 09:16] isurulucky commented on #67
Thanks @technosophos, yes the idea is similar to what you have described. Attaching volumes would be a good option opposed to handling the complexity of selectively dumping configurations from files in the local file system to the invocation image.

[2019-01-30 15:27] simonferquel opened #84 "Should claims really be part of the spec ?"
It is more a question than a suggestion.

IMO, claims seem more to be an implementation detail of Duffle. It can be used as a simple way to describe how a CNAB implementation can keep track of existing installations, as well as what data must be stored for future invocations as part of the runtime specification.

[2019-02-01 20:19] radu-matei opened #89 "URI field in image"
In some examples there is a `uri` field on `image` that appears (see examples in [101-bundle-json.md](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#the-bundlejson-file) and [105-signing.md](https://github.com/deislabs/cnab-spec/blob/master/105-signing.md#digesting-objects-in-the-bundlejson):

[code]

However, this field appears neither in the spec, nor in the JSON schema.
Sh

[2019-02-01 20:53] radu-matei commented on #84
I think it becomes a question of interoperability between tools, and the same question can be: _Do I want to be able to use tool A to install a bundle and tool B to uninstall it?_

[2019-02-01 20:58] radu-matei opened #90 "Common repository for test data"
As we're starting to have more clients that interact with bundles, it becomes inevitable that all clients will need to have multiple examples for bundles (and parts of bundles), and define corner cases to test - meaning the work is going to be replicated across repositories.

Would it make sense to have a common repository with example bundles and parts of bundles for clients to use as test data?

[2019-02-01 22:38] bacongobbler commented on #89
Yeah it should be replaced with `image`. Also discussed in another thread here: https://github.com/deislabs/cnab-spec/issues/66#issuecomment-457472759

[2019-02-02 09:42] garethr commented on #90
+1 on this idea.
We could have bundles as well as some basic input/output expectations in a machine readable format. I'd certainly adapt the python client to use something like that. I have some fixtures in https://github.com/garethr/pycnab/tree/master/fixtures which I'd replace.

Maybe start with one hello world example and the input/output in a file?

[2019-02-02 14:11] radu-matei commented on #90
One aspect I haven't really thought of is how we would import the test data repo into the client repos - we could use git submodules, but maybe directly cloning might prove to be much simpler solution.

Thoughts?

[2019-02-02 14:47] garethr opened #92 "Discrepancy between spec and schema for schemaVersion"
The spec [says](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md):

The the examples in the spec show:

[code]

However, the [JSON Schema](https://github.com/deislabs/cnab-spec/blob/master/schema/bundle.schema.json#L9) states:

[code]

I think the latter is wrong in this case, but which do we prefer?

[2019-02-02 15:58] garethr opened #93 "Change to images from list to map not updated in schema"
When https://github.com/deislabs/cnab-spec/pull/62 was merged the changes weren't made to the schema, which still shows the image list: https://github.com/deislabs/cnab-spec/blob/master/schema/bundle.schema.json#L68

cc. @simonferquel @technosophos

[2019-02-02 16:00] radu-matei commented on #93
See https://github.com/deislabs/cnab-spec/pull/81/files ?

[2019-02-02 16:12] garethr commented on #93
Yup, duplicate. Thanks.

[2019-02-02 16:12] #93 closed

[2019-02-05 14:37] garethr opened #94 "License field in the schema but not in the spec"
The schema defines a field for license information, mentioning SPDX. https://github.com/deislabs/cnab-spec/blob/master/schema/bundle.schema.json#L55-L57

This isn't currently represented in the spec itself. Mentioning here as a reminder to update the spec. I think what's in the schema works.

[2019-02-06 11:02] glyn commented on #61
A digest field seems useful for image types that don't embed a digest in an image name.

The digest field also simplifies checking that all images in a signed bundle have digests. Without a digest field, the check would need to parse both standard and custom image name formats to check for the presence of a digest.

How painful would it be to retain the digest field and potentially duplicate the d

[2019-02-06 11:43] glyn opened #95 "How are images stored in thick bundles and made available to invocation images?"
The spec doesn't currently define how binary images are stored in a thick bundle. For example, It would be good to allow images to be stored as single files (e.g. .tar), for simplicity, or as a graph of layers, to optimise bundle size.

duffle seems to create an `artifacts` directory and corresponding JSON file in a thick bundle, but the spec doesn't mention either of these or how they might be ma

[2019-02-07 00:09] #89 closed

[2019-02-07 19:22] radu-matei opened #96 "Missing required status for informational metadata for bundles"
[As they are currently defined](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#informational-metadata), the bundle informational metadata does not specify a required status.

This issue keeps track of adding that status.

[2019-02-08 10:07] simonferquel commented on #96
I would also like to standardize a `status-json` custom action that if implemented, should return a json payload via stdout respecting a well known schema so that we can present status results in a web-ui

[2019-02-08 11:31] garethr commented on #96
@simonferquel I'd say that's a separate question that warrants a separate issue,

I think the schema is probably correct in my view here. https://github.com/deislabs/cnab-spec/blob/master/schema/bundle.schema.json#L105

ie. of those fields, `name` is required, while `description` and `maintainers` are optional.

[2019-02-08 17:04] radu-matei opened #97 "Ambiguous parameter destination required status"
In [the current form of the spec](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#parameters), it is unclear whether the parameter destination MUST set both environment variable and path - from the spec:

[code]

Should there be at least a clarification, stating that at least one of  `env` and `path` must be set?

[2019-02-08 17:11] radu-matei opened #98 "Bundle examples missing required size for invocation images"
Most of the example bundles in the specification are missing the size property for invocation images, property that is required.

[2019-02-08 17:16] radu-matei commented on #98
Nevermind, I should actually read the all caps OPTIONAL before opening issues...

[2019-02-08 17:16] #98 closed

[2019-02-09 09:25] garethr opened #100 "Resolving parameter destination"
https://github.com/deislabs/cnab-spec/pull/87 was merged last week.

@technosophos @bacongobbler @radu-matei this is unfortunately a mistake I think and wants reverting. The spec describes the case for destination not being set in `bundle.json`, a default ENV value with a default name of `$CNAB_P_<NAME>`:

https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#resolving-destinations

[2019-02-10 09:15] garethr commented on #97
Related https://github.com/deislabs/cnab-spec/issues/100

The spec describes the resolution rules for when neither is set.

[2019-02-11 15:55] ryanmoran commented on #39
Hey @squillace,

After spending a bit of time reading through the spec and then through some issues, I still cannot find a reasoning for the separation of parameters and credentials. Your comment above was the closest to stating a reason.

It seems like separating them will likely lead to a duplication of the specification of inputs across general `parameters` and the special-case of `credentials`

[2019-02-11 16:01] technosophos commented on #100
You are right. My mistake. I'll get it fixed.

[2019-02-11 16:12] #45 closed

[2019-02-11 16:34] technosophos commented on #39
The reason is that `parameters` are semantically different than `credentials`.  Parameters are for passing configuration to the application. Credentials are for asserting the identity and permissions of the agent performing the action.

A credential is a kind of parameter that is earmarked (by the bundle creator) as needing special treatment for security reasons. Typically, it is intended to conta

[2019-02-11 17:45] technosophos commented on #61
VM images are definitely a case where adding the SHA into the name is... not the norm at all. Also, since `@` is a legal naming character in some file systems, I guess it could artificially constrain image names (or misinterpret image names) for VM images.

That said, it is sort of ambiguous to have two digests (one in the name, and one in the `digest` field). What does a _runtime_ do when it is g

[2019-02-11 18:32] glyn commented on #61
Fail to install the bundle and produce an error saying why. This _should_ be an edge case, of course.

[2019-02-11 20:39] ryanmoran commented on #39
That context does help as it was unclear to me from the spec that a credential has an intended audience of the agent performing the installation within the invocation image. The security concern is reasonable.

To make my understanding clearer, I'd like to propose a scenario and ask how you would approach apportioning the inputs to the bundle as either parameters or credentials.

In this example I

[2019-02-11 20:58] technosophos commented on #39
Remember that the parameters and credentials are for the _invocation image_. So you would be able to store many of those things inside of a vault system (or generate them, etc) and not have to pass them all in as parameters or credentials. Or generate certificates on the fly, etc. You don't necessarily need to provide a 1:1 mapping. The Porter demos show some of these techniques, as to a number of

[2019-02-11 21:12] simonferquel commented on #61
Maybe make the image field either a registry ref or a structure url+digest? The type of field would depend on the image type value.

[2019-02-11 22:23] technosophos commented on #61
With the exsiting `type`/`name`/`digest` fields, I think we have what we need. I think @glyn may be right -- it may be better to leave `digest` for use by other things, and just double up on the SHA for OCI-style images.

[2019-02-12 19:28] youreddy commented on #65
Hey @garethr, here's an example I was thinking about:

Say an operator wanted to deploy Istio via helm on a Kubernetes cluster using CNAB bundles and I had the following available to me:

A bundle for provisioning the cluster
A bundle for installing helm and checking that it's correctly deployed
A bundle for installing Istio via helm

Each bundle would need to specify the credentials and parameter

[2019-02-12 20:37] vdice commented on #100
+1 on the original approach.  Got around to revisiting the example bundles in https://github.com/deislabs/example-bundles to get CI/validation back on track/passing and one hurdle, besides https://github.com/deislabs/example-bundles/issues/80, is this change.

Therefore, if/once this is fixed and `destination` is no longer required, no updates across the example bundles will be needed, for this pa

[2019-02-12 21:25] ryanmoran commented on #39
Hey @technosophos, thank you for this further explanation.

After reading the spec [section on credentials](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#credentials) again, I still cannot see how I would have fully understood that without the context you have given above.

If the intention is to continue to separate `credentials` and `parameters` as differing concerns withi

[2019-02-12 21:54] #72 closed

[2019-02-12 22:53] radu-matei commented on #97
Closing in favor of #100.

[2019-02-12 22:53] #97 closed

[2019-02-12 23:29] simongdavies commented on #92
Why does the spec need a schemaVersion property? Shouldn't it just have a $schema property that points to the spec version?

[2019-02-12 23:36] technosophos commented on #39
Alright. I will try to improve that section.

[2019-02-13 00:07] technosophos commented on #66
Okay, new fixes this time around:

- Removed `uri` in favor of `image`
- Fixed formatting on JSON files

The following changes are deferred to other PRs:
- The changes to the `int` thing will come in #77.
- locking down more of the JSON schema when #104 gets merged

The following are deferred pending more discussion:
- field selectors, which we will hopefully get rid of with a new PR

So I'd consi

[2019-02-13 00:19] technosophos opened #105 "Removing support for CNAB_P_<param>"
Should we remove support for `CNAB_P_<param name>`?

Early CNAB did not allow custom parameter paths or env vars, and instead automatically injected parameters according the the formula `CNAB_P_<PARAM NAMe>` (e.g. `CNAB_P_PORT`)

Later, we added support for `destination`, which allows setting the desired destination.

Is it time to remove the `CNAB_P_` style parameters, or should we leave them?

[2019-02-13 00:20] technosophos commented on #96
@radu-matei what would the values of `status` be?

[2019-02-13 00:24] technosophos commented on #95
I am not sure it was ever intended that the invocation image would have direct access to the images. We should figure out if that is something we want to do. But the previous assumption had been that the image driver(s) would be responsible for unmarshaling the exported archive and placing the files at defined locations.

At issue is whether the invocation image can and should know where the prope

[2019-02-13 00:41] radu-matei commented on #96
I agree with @garethr, I think it should be the same as in the schema.

But @itowlson pointed this out from the same doc: _In descriptions below, fields marked REQUIRED MUST be present in any conformant bundle descriptor, while fields not thusly marked are considered optional._

I completely missed this, and while I think we could add the status, to be consistent with the rest of the spec where it

[2019-02-13 00:41] #66 closed

[2019-02-13 01:23] technosophos commented on #96
OH! I completely misread this and thought you were asking for a required field called `status` on the metadata. 🤦‍♂️

[2019-02-13 01:27] technosophos commented on #92
@simongdavies That is a good question. I need to read up on that.

[2019-02-13 01:52] technosophos commented on #92
Here's the relevant (but not very informative) portion of the spec: https://json-schema.org/latest/json-schema-core.html#rfc.section.7

The formats I am seeing look like this:

[code]
So we could do `"$schema": "https://cnab.io/1.0.0-WD/schema.json"` and follow approximately the same naming scheme.

[2019-02-13 12:04] simongdavies commented on #92
Correct - this will make tools that understand JSON schema work as well, for example if I set the property to    "https://raw.githubusercontent.com/deislabs/cnab-spec/master/schema/bundle.schema.json"
 in an existing bundle.json that has not been updated with recent changes and then open it in VS Code I see warnings:

<img width="852" alt="image" src="https://user-images.githubusercontent.com/1397

[2019-02-13 13:29] glyn commented on #95
I guess it depends on whether the set of valid image types is going to be part of the spec, in which case runtimes could implement support for all image types. But if the intention is to allow _arbitrary_ image types, then there is a "chicken and egg" situation if an invocation image has a custom image type: how would a CNAB runtime which doesn't support that image type be able to install the bund

[2019-02-13 17:33] glyn commented on #105
I vote to remove them.

[2019-02-13 19:32] vdice commented on #105
Related: https://github.com/deislabs/cnab-spec/issues/100

If support is removed, will `destination` remain a _required_ field (and must be accompanied either by an `env` or a `path` entry?) (per https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#parameters)

(No vote preference for me, just wanted to get clarity on the question above.)

[2019-02-14 14:47] ryanmoran commented on #65
@jeremyrickard did I hear correctly during the call this week that you also had a proposal in this space?

[2019-02-14 15:23] simonferquel opened #108 "Docker Driver: clarify execution daemon access"
Today Duffle's Docker Driver always mount /var/run/docker.sock in the invocation image. This provides a very easy way to do CNAB composition (CNABs invoking other CNABs) at the cost of exposing the whole engine API to the invocation image, without explicit consent (and of not being able to run Windows based invocation images).

In the case of Docker Enterprise, it is not even possible to do so for

[2019-02-14 15:43] simonferquel commented on #108
I suppose we can also consider the socket mount in duffle code base as a bug, and don't try to support CNAB composition at all in v1 of the spec. One CNAB author can always ask for a credential for passing connection info to a remote (or local) daemon for CNAB composition.

[2019-02-14 21:38] vdice opened #109 "CI: Add schema validation automation"
Add the ability to validate the example bundles in `examples` via the schema in `schema/bundle.schema.json`

 - This can be run locally in the form of a `make` target
 - This will be run by CI on (PR, master) push events

[2019-02-14 21:40] #94 closed

[2019-02-14 21:40] #96 closed

[2019-02-14 22:01] vdice commented on #27
Our current thinking is to tackle the following in order:

1. Add schema validation using the example bundles in this repo via https://github.com/deislabs/cnab-spec/issues/109

I was going to pick this up now/soon-ish as the schema is under rapid development and the need for verification on changes seems pressing.

2. Add a `duffle lint` command that would, minimally, validate a given bundle again

[2019-02-14 23:20] technosophos commented on #108
Since the spec deliberately does not constrain "image" or "invocation image" to only using Docker, I wouldn't feel right about introducing these into the spec. But I _do_ think we should file this as a bug with Duffle. We're trying to not do CNAB composition at runtime because it introduces a host of new and complex dependency problems.

[2019-02-14 23:22] technosophos commented on #105
Yup. @garethr -- as owner of that issue (and CNAB Python maintainer), do you have any preferences on this?

[2019-02-15 00:17] technosophos commented on #105
I wrote a PR to remove this at #110.

[2019-02-15 08:40] garethr commented on #105
While I think the magic is useful, I'm more in favour of a smaller spec. So I'm +1 on removing and making destination required. My concern with #100 was the inconsistency. +1 on #110

[2019-02-15 08:43] garethr commented on #108
"it's a bug for Duffle, not details for the spec" was my take as well when this came up internally. It's the right approach, just outside the scope of the spec.

[2019-02-15 08:50] garethr commented on #27
I don't think validation tools should be part of the spec repo, rather either standalone or just used for now in the examples repository.

Note as mentioned on #109,  just validating the `bundle.json` against the schema isn't enough. The spec also has various other rules too.

For [invocation images for instance](https://github.com/garethr/pycnab/blob/master/cnab/invocation_image.py#L15-L44
), or

[2019-02-15 15:10] technosophos commented on #27
I think validating the content of `examples/` against the JSONSchema is something that should be part of this repo, as it helps us keep the specification accurate.

I'm not advocating for writing a custom JSON Schema tester, but a Makefile or shell script that calls the right tools seems perfectly acceptable to me.

[2019-02-15 16:41] garethr commented on #27
Ah, plus +1 on testing things in `examples/`, I was conflating that with the https://github.com/deislabs/example-bundles repo.

[2019-02-15 19:57] technosophos commented on #105
Okay. I'll update that PR (with the recent suggestions) and merge that. I feel better about eliminating magic variables.

[2019-02-15 20:42] vdice commented on #105
On that note, PR to update example-bundles in: https://github.com/deislabs/example-bundles/pull/88

[2019-02-20 00:07] #109 closed

[2019-02-20 17:26] jeremyrickard opened #113 "Address redundancy in spec regarding declarative image references and runtime references"
See https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#the-image-map. Refs and image map injection at runtime are redundant  and we should clarify the specification to remove the redundancy.

@simonferquel @lachie83 @technosophos

[2019-02-20 19:25] ryanmoran opened #114 "Proposal: Replace env var and file inputs with JSON on STDIN"
# Summary
According to the spec, installation details, image maps, parameters and credentials are all mapped on to environment variables or files that are then injected into the invocation image when an action is executed. This design, when implemented at a large scale for complex bundles, has the negative result of introducing a significant burden on the bundle author when determining and parsing

[2019-02-20 20:40] carolynvs commented on #114
I have a naive question. Right now the implementations focus on docker, but in theory they should work with a virtual machine instead. Would this (passing via STDIN) work with a VM as well?

[2019-02-20 20:57] ryanmoran commented on #114
The only VM driver example that I have seen is the [azure-vm](https://github.com/deislabs/duffle/tree/master/drivers/azure-vm) one. I believe that the Azure VM driver spins up a VM from the invocation image, opens an SSH connection to the VM, and then executes the run tool. I believe that passing data on STDIN when executing that tool would be possible.

[2019-02-23 12:48] carolynvs commented on #114
The more I think about this the more I see this as quite disruptive of a change. Especially for tools that implement the spec, like porter. It would be quite different if STDIN was simply another option instead of a hard switchover from env vars and files which are quite useful in many cases.

I could provide some use cases and explain why taking those away would make life more difficult and hurt

[2019-02-24 21:42] GreenCee commented on #64
Adding a use case from regulated industries and extending the reach of cloud native application models.
Network segmentation

For PCI-DSS scope minimzation, wrapping things into a thick bundle then only sending it through inside the boundary can avoid inadvertantly including your entire CI/CD in scope. Similar for segmented networks to deliver verified artifacts only.

Futures I see are the use of

[2019-02-25 17:41] technosophos commented on #114
Why "replace" and not just offer as another way of doing things?

[2019-02-25 18:03] technosophos commented on #114
Thanks for taking the time to put this together.

I would be enthusiastic about adding `STDIN` as one of the possible routes for injecting param and credential data to the run tool. It would indeed get around some of the limitations outlined above, and that change alone I believe is sufficient for addressing the more pressing concerns of security and arbitrary size limits.

I would be opposed to _

[2019-02-25 18:50] ryanmoran commented on #114
Thank you both, @carolynvs and @technosophos for the feedback. I don't feel that the proposal requires that we replace env vars and files. I can see specifying STDIN as an option as a viable compromise. However, @technosophos, I am unclear how you would achieve a parsable STDIN input for multiple parameters if you didn't provide that input as some sort of structured document.

For example, assumin

[2019-02-25 19:23] #105 closed

[2019-02-25 19:24] ryanmoran commented on #114
On another front for discussion, our primary concern in opening this proposal is to enable a specification for parameters that would allow bundle authors to declare a complete and well-specified set of inputs for a bundle. We have plans to develop our own runtime that would want to expose parameter inputs to the user via a well-defined RESTful API. Additionally, we would like for that API to be ab

[2019-02-25 19:30] technosophos commented on #61
After a long period of debate, it appears that the consensus on this is that we will _leave_ the `digest` field because it is necessary for non-Docker images (like VM images). I'm closing my associated pull request. I'll leave this issue open for a little while longer in case people still want to weigh in with additional arguments.

[2019-02-25 19:53] vdice commented on #100
Closing now that #105 has been merged.

[2019-02-25 19:53] #100 closed

[2019-02-25 21:04] technosophos commented on #114
I understood your previous request (#77) to be more like this: "I want to define a parameter that is described by a JSON Schema and is injected as string data into the invocation image." In that case, what the spec calls the "CNAB runtime" validates the parameter input by the following process:

1. Read the parameter definition from the bundle descriptor (`bundle.json`)
2. Load the parameter data

[2019-02-25 21:44] #54 closed

[2019-02-25 22:59] ryanmoran commented on #114
If I led you to believe that I wanted the validation to take place inside the invocation image, that is my mistake. While validating inputs inside an invocation image is certainly a workflow we wouldn't want to prevent, its not our main concern.

The outcome you describe of having a CNAB runtime that can validate a complete set of inputs from a user is what we hope to achieve. I believe I am start

[2019-02-25 23:23] technosophos commented on #113
I am taking a shot at fixing this, and will open a PR.

[2019-02-26 00:34] technosophos commented on #108
I'll leave this open to track the issue in Duffle.

[2019-02-26 00:36] technosophos commented on #92
I've been gathering feedback on whether to use `$schema`, and opinions are really all over the map. So far, the best case I've heard is this:

In absence of a firm resolution, I'm leaving this open for now.

[2019-02-26 00:38] technosophos commented on #84
At this point, we are breaking the spec down into multiple specifications:

- 100 CNAB Core: Just the stuff about the CNAB format itself
- 200 CNAB Regsitry: Just the stuff describing how CNABs are to be stored in OCI registries
- 300 CNAB Security: The part about signing, verifying, and attesting with TUF and InToto

We could add:

- 400 CNAB Claims

Thoughts?

[2019-02-26 05:34] radu-matei opened #118 "Self-contained documentation for bundles"
https://github.com/deislabs/duffle/pull/509 was an initial attempt to have something close to self-contained documentation for bundles. Essentially, it relied on a file _inside the invocation image_ that got read and displayed on the console for a Duffle command (`docs`).

The case for self-contained documentation -- take the case of container images -- you have one place where you learn about the

[2019-02-26 08:11] garethr commented on #118
I've been thinking a little about this as well and had a few related conversations, including with @lucperkins, who wrote https://medium.com/@lperkins/the-state-of-docker-container-documentation-some-workarounds-and-a-vision-for-a-possible-future-693d6ca5baaf

My take:

- A description field is necessary but not sufficient for documentation purposes I feel. It acts as a useful summary, but crammin

[2019-02-26 08:16] glyn commented on #95
@technosophos Given that https://github.com/deislabs/cnab-spec/pull/117 acknowledges the idea of image relocation, what's your take on this issue?

[2019-02-26 15:19] ryanmoran commented on #95
As a runtime implementor, I still have concerns with the current specification for thick bundles. It is unclear what a runtime is supposed to do with the images that are included with the thick bundle.

Is a runtime responsible for the relocation of these bundled images into a location that can be addressed by the run tool? If so, I think we still have the issue that @glyn outlines, that bundles a

[2019-02-26 15:33] glyn commented on #95
I think it may be simplest if the runtime simply mounted a directory containing the images/layers/other files so that the invocation image could do the rest. In particular, I don't want to tie the runtime to a particular representation of images in a thick bundle (that's something we've already seen change in PFS). If we make image relocation the responsibility of an invocation image, then the cho

[2019-02-26 16:49] GreenCee commented on #95
A dictated location for the innvocation image would line up with my interpretation as well as expectations
In the case of a docker image the innvocation image would probably upload it to a select registry from a parameter and then pass that further along to customize things as needed (Adjust Helm Chart, K8s Deployment etc). I would not expect the runtime to need to know anything beyond the file lo

[2019-02-26 17:14] glyn commented on #95
Clearly one squashed action is sufficient for a one-off deployment. But it would be more natural to separate the relocate step from the install step if the same bundle were to be deployed across multiple clusters (or whatever) sharing a registry. Perhaps `relocate` could be a custom action which would be executed prior to `install` when relocation is required?

[2019-02-26 19:06] technosophos commented on #64
Ah, yes -- that is a great example of a use case.

[2019-02-26 19:40] ryanmoran opened #119 "Credential requirement and optional deployments"
The specification makes an effort to separate credentials from parameters with the intention outlined [here](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#credentials).

It defines each as follows:

The other condition that differentiates credentials from parameters is their "required-ness". Parameters, if provided a `defaultValue`, are not required, while credentials are re

[2019-02-26 21:37] jonjohnsonjr commented on #95
@glyn FWIW the OCI image-spec defines an on-disk format for a collection of artifacts, called an Image Layout: https://github.com/opencontainers/image-spec/blob/master/image-layout.md

[2019-02-26 21:40] technosophos opened #120 "status.schema.json is broken"
This schema does not validate according to https://www.jsonschemavalidator.net/

[2019-02-26 21:48] technosophos commented on #95
@ryanmoran @glyn take a look at how Duffle does import/export. @michelleN is the author of that system.

[2019-02-27 04:54] #84 closed

[2019-02-27 04:57] technosophos commented on #118
I suppose another approach would be to define another action (`io.cnab.docs`) that was responsible for printing documentation from the bundle in some standard format. Then we could leave the actual implementation as an exercise for the reader (or, rather, bundle author).

[2019-02-27 09:29] glyn commented on #95
That looks great. However, even though this is an OCI standard, I think it need not be a concern for CNAB. An OCI-aware base invocation image could process an OCI image layout providing the layout was made available to the invocation image.

[2019-02-27 13:58] simongdavies commented on #92
My initial thoughts were that if the value of the $schema property is a unique Uri then the addition of an additional property to indicate the version of the schema was unnecessary as the version would be encoded in the schema Uri, however , requiring both seems like a reasonable compromise.

Its probably important to ensure that:

1.  As changes are applied to the spec that those changes are alwa

[2019-02-27 14:49] glyn commented on #95
Thanks @technosophos. I see that `duffle export` stores a bundle as a tar file including binary images. But what does `duffle import` do with those images? More importantly, what has `duffle import/export` got to do with the (present or future) spec? ;-) /cc @michelleN

[2019-02-27 18:04] garethr commented on #118
We discussed this on the community call on the 27th of February. One additional point was viewing this from the registry side.

Having documentation available to registries would be a useful property of this, and exposing this as an action would mean registries would need to run the action, which may not be a safe operation and is costly in terms of compute requirements. A standard action is still

[2019-02-27 18:40] SteveLasker commented on #118
I loved this idea as it solves the problem of artifacts (images, CNAB, Helm, ...) to keep their docs in sync between their git repo, the registry listing and the artifact itself.
To kick off an OCI conversation, I started the discussion in the new OCI Artifact Registry slack channel: https://opencontainers.slack.com/archives/CGJFFCPS7/p1551292629007000
To get access, you can get an invite here: ht

[2019-03-01 10:39] simonferquel commented on #114
I have a mixed feeling about that: if we use stdin for passing parameters, we can't use it for anything else in the future (like, support for interactive installers, etc.)

I think it requires some more thinking about the implications, and maybe defer the decision for after v1.

[2019-03-01 18:57] ryanmoran commented on #114
@simonferquel I'd love to hear more of an explanation of this "interactive installers" idea. I'd also like to hear how you feel using stdin for this purpose would preclude us from extending the specification to support new features.

[2019-03-04 08:40] simonferquel commented on #114
@ryanmoran with the well-known actions and action-specific parameters, I have one example in mind:
If we have a well-known action for logging, with a parameter "follow", it would be handy to use stdin to signal that we want to stop following logs.
Also, in the future, I'd like to be able to have support for interactive actions (that you would interact with using stdin/stdout).

[2019-03-04 16:38] glyn opened #122 "Support image relocation by the invocation image"
This issue follows on from an earlier [discussion](https://github.com/deislabs/cnab-spec/pull/117#discussion_r262118413) in PR 117 and a [comment](https://github.com/deislabs/duffle/issues/217#issuecomment-468145253) in duffle issue 217.

Moving images to a private registry is what we in the [riff project](https://projectriff.io/) call _image relocation_. For background, please see the design docu

[2019-03-04 18:41] youreddy commented on #114
@simonferquel We could support the the logs use case you are describing by having these types of actions handled differently by the run tool. The proposal describes a JSON document that gets passed to the run tool via stdin. The logs action could consume that document and either pull useful information from it (i.e configuration options like filtering) or it could simply ignore that document and i

[2019-03-05 14:21] glyn opened #129 "Thick bundle representation to allow for deduplication of layers"
The spec's [file format for thick bundles](https://github.com/deislabs/cnab-spec/blob/c9050a38ac03d55c766fa6e42abba389816c2b38/104-bundle-formats.md#file-format-for-thick-bundles) recommends (through the use of "SHOULD") one tar file per image in which case layers common to more than one image will be duplicated. To facilitate more  space-efficient representations which deduplicate layers, this sh

[2019-03-05 16:49] technosophos commented on #129
It would be hard to write an implementation based on the specification in this case. And it would be hard to share CNAB bundles in this case, as well, since we have no prescription for what is inside of the image.

If we were to change the proposal in this way, we'd need to define both a layered export and a non-layered export. Otherwise there's no point at all in defining an export format whose c

[2019-03-05 16:49] technosophos commented on #129
I spoke too soon! I just saw 130! That is a good idea!

[2019-03-06 15:20] #129 closed

[2019-03-06 16:13] ryanmoran commented on #114
What if the proposal was that we would always pass the input configuration JSON document as described above on stdin. We could then relax the requirement of a `destination` field for parameters. The result would be that all parameter and credentials would be available as a JSON document on stdin by default. However, if a bundle author wanted to make a single parameter available as an environment v

[2019-03-06 16:36] simonferquel commented on #114
To avoid using stdin, we could do this like we do for image-map injection: inject the json payload at a well known location (e.g.: `/cnab/input-parameters.json`) into the container before starting it.

It fixes both my reservation about using stdin, the original problem, and it applies the same strategy as an existing aspect of the spec.

[2019-03-06 19:33] ryanmoran commented on #114
@simonferquel I still have reservations about the security profile of writing a file that may contain secrets to disk. In an ideal world, we wouldn't ever write secrets to disk, especially not in plain text. Do you have any ideas for how we could provide the type of functionality we describe in our proposal without also introducing a possible security concern?

[2019-03-06 19:35] squillace commented on #39
I'll help out here even more.

[2019-03-06 20:52] jeremyrickard opened #132 "Add Outputs to CNAB Core Spec"
## Problem Statement ##
When an invocation image is run, the bundle author may wish to expose some data. This could be something like a generated hostname, port number or some credential like a Kubernetes config file that the person running the bundle will need to use later on. Currently, we don’t specify a way to handle these in a way that makes it really portable from runtime to runtime.

There

[2019-03-07 08:14] simonferquel commented on #114
Parameters should not hold sensitive data, credentialset are here for that.
Today the docker driver (which does not leverage any orchestrator feature such as secrets) copies the credentials in the invocation container in the same way. But I'd like to see a Kubernetes driver that assumes credential sets are stored in k8s secrets, and that would mount these secret in a Pod instead of copying them in

[2019-03-07 14:41] ryanmoran commented on #114
@simonferquel this definition of the differences between parameters and credentials does not align with how @technosophos is describing them in https://github.com/deislabs/cnab-spec/issues/39#issuecomment-462395894, nor does it align with the recent additions in https://github.com/deislabs/cnab-spec/pull/106.

If you read those definitions, then you come away with an understanding that parameters

[2019-03-07 17:11] glyn commented on #122
There is a "chicken and egg" problem with this approach: what does it mean for an invocation image to relocate itself? By the time an invocation image is running, it's too late to relocate itself. Closing.

[2019-03-07 17:11] #122 closed

[2019-03-07 17:13] glyn commented on #95
Now that the spec defines how binary images are stored in thick bundles, this issue can be closed. Making binary images in a bundle available to the invocation image is no longer needed as pushing the images turns out not to be the responsibility of an invocation image (see the closed issue https://github.com/deislabs/cnab-spec/issues/122).

[2019-03-07 17:13] #95 closed

[2019-03-07 17:31] glyn opened #134 "Image map needs to include original image names"
In order for invocation images to patch any references to images, the CNAB's [image map](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#the-image-map) needs to include the original image names as well as the (current/relocated) image names, for example:
[code]

It may be desirable to avoid repeating the image name when images have not been relocated. One way to do this would

[2019-03-07 18:48] technosophos commented on #122
This is why I had suggested an `import` action. An image needn't be relocated before it can be executed (there is generally no prerequisite that it be pulled from a repo). So if we added an `import` action, you could run something like `duffle import foo.cnab --set registry=matt.azurecr.io/myproject` and have it do just the import step. There is no reason why an invocation image cannot mount its o

[2019-03-07 21:21] technosophos commented on #114
Just checking back in on this one. Trying to summarize where we are:

- So the current argument _against_ exposing `stdin` in the `destination` object is that it would prevent us from using STDIN for other things (like sending signals?).
- The argument against injecting this same data as files is the security argument (we might not want tokens sitting around on disk)
- There was a proposal to ALWA

[2019-03-07 23:42] technosophos commented on #134
@simonferquel How do you all handle this situation?

[2019-03-08 09:02] simonferquel commented on #134
For now we put the original image name in the description field. That is not ideal.
Also, our invocation images don't use the original name at all, but that would be nice to be able to put that in some kind of service label so that `docker app status` could print indications saying that the original image reference for a given service was `mysql:latest` instead of just printing the relocated diges

[2019-03-08 19:12] squillace commented on #65
@jeremyrickard you wanna catch @ryanmoran up with what we have here?

[2019-03-11 18:06] radu-matei commented on #108
Closed in https://github.com/deislabs/duffle/pull/661

[2019-03-11 18:06] #108 closed

[2019-03-11 19:06] technosophos commented on #134
Could we call it `defaultImage` instead of `originalImage`?

[2019-03-11 19:26] technosophos commented on #119
We could add a `required` flag to credentials. I mean, that does seem like a legitimate thing to do.

[2019-03-11 19:29] technosophos commented on #67
Issue #114 is now converging on a solution that I think will handle this.

[2019-03-11 19:30] technosophos commented on #64
I believe this one may now be marked "resolved"

[2019-03-11 19:30] #64 closed

[2019-03-11 19:30] technosophos commented on #58
I think this one is now resolved by #62

[2019-03-11 19:30] #58 closed

[2019-03-11 19:31] technosophos commented on #57
Okay, the current proposal for this is now at #133. Feedback would be welcome.

[2019-03-11 19:32] technosophos commented on #42
I believe that all of these issues are now resolved.

[2019-03-11 19:32] #42 closed

[2019-03-11 19:34] technosophos commented on #39
I'm unclear as to what work remains on this issue. I think that all of the original issues have been resolved, and I believe we have clarified the credentials section. Is there anything else in here we need to track?

[2019-03-11 19:36] technosophos commented on #37
Over time, the offending phrase was rewritten independently of this issue. So I am marking the issue closed.

[2019-03-11 19:36] #37 closed

[2019-03-12 08:30] simonferquel commented on #134
I prefer `originalImage` because `defaultÌmage` implies "it should be the image ref you should use if you don't really understand clearly image relocation mechanism" (where `originalImage` conveys the notion of "at build time, this was the image name value, but use `image` at runtime as it can be overriden).

[2019-03-12 15:09] #120 closed

[2019-03-12 15:10] #113 closed

[2019-03-12 15:13] technosophos commented on #134
That is a good point. Do we envision cases where "image" and "originalImage" would be the same?

[2019-03-12 16:00] glyn commented on #134
If image relocation wasn't necessary, then these fields could logically be the same. In PR 137, I've proposed that "originalImage" should be OPTIONAL and have default value the same as that of "image".

[2019-03-12 16:01] simonferquel commented on #134
Aggreed with @glyn

[2019-03-12 17:45] technosophos commented on #134
There are two ways to intepret "OPTIONAL" in this case:

1. It is optional for the CNAB runtime to support `originalImage` at all
2. It is optional, in a specific case, for the runtime to provide an `originalImage` value

I'm assuming that 2 is what you mean. In this case, the absence of `originalImage` indicates that...?

- The `image` has not been changed
- For whatever reason, the `originalImag

[2019-03-12 21:59] squillace commented on #39
I think, ultimately, this issue was addressed by the modifications that @technosophos made in #106. The precise difference between the two seems unrelated to the conversation in #114, which is about STDIN as a passing mechanism option. @ryanmoran can I close this issue?

[2019-03-13 09:53] glyn commented on #134
Correct. I hope this is clear in PR 137: `originalImage` is defined in `bundle.schema.json`.

I've updated PR 137 to clarify this case: the run tool MAY replace images by name, as Docker App does now.

[2019-03-13 18:12] ryanmoran commented on #39
Yes. I feel all of my questions were answered.

[2019-03-13 18:24] sbawaska opened #138 "images and invocationImages should be consistent"
Currently, the spec defines `images` as a map whereas `invocationImages` is an array. I think these two sections should be consistent so as not to create a gotcha for bundle authors.

[2019-03-13 20:20] silvin-lubecki commented on #138
The PR introducing the map is [here](https://github.com/deislabs/duffle/pull/605).
As far as I can remember we changed the type to a map only because it was simpler to serialize as is  and to inject it in the invocation image.
That said, you are totally right we introduced an inconsistency here.
I honestly don't have a strong opinion if we should move back to an array and add a new field, or if we

[2019-03-13 20:20] silvin-lubecki commented on #138
cc @simonferquel

[2019-03-14 07:55] simonferquel commented on #138
The main reason for this difference, is that an `invocation image` is an attribute of the bundle itself (which can have multiple values, to support different runtime drivers), while an `image` is an attribute of a component deployed by the bundle. Thus `invocationImages` is a multi-valued attribute of the bundle (a simple flat list), while `images` is a map associating a component name with its re

[2019-03-14 17:57] radu-matei commented on #138
This is also relevant in how the tooling is going to use / select the correct invocation image:

- the image type (VM / container)
- architecture (ARM / x86)

If we go forward with a map for the invocation image, it would be ideal if the key of the map is relevant in helping the tooling select the appropriate one.

[2019-03-14 18:43] sbawaska commented on #138
If we are implying a relationship between invocationImage and image (from the above two comments), would it then make sense to embed images within invocationImages?

This will also help alleviate the initial confusion when someone new looks at the spec: (example of initial confusion on tgik: https://youtu.be/R_Wul_xdHsk?t=2157. However, that was quickly resolved later)

[2019-03-14 19:41] radu-matei commented on #138
I'm not sure I follow the implied relationship between the two -- images are part of the application, while the invocation images define how the bundle is going to be deployed, and I think we should keep the distinction between the two.

[2019-03-15 16:34] michelleN opened #141 "add governance docs"
+ add Simon as core maintainer

[2019-03-18 10:06] simonferquel opened #142 "Thick bundle: clarify how invocation images are "air-gapped-aware""
As commented here: https://github.com/deislabs/cnab-spec/pull/139#discussion_r266346110, having thick bundle only fix the "distribution" aspect of the air-gapped scenarios, but for an invocation-image to leverage the thick bundle content (and know that it must use it), we are missing runtime support. Thus I am not sure if thick-bundle should make it in the v1 of the spec, or if we should release a

[2019-03-18 12:33] #141 closed

[2019-03-18 17:57] radu-matei commented on #142
Regarding the air-gapped scenario with Kubernetes -- my assumption (it needs validation, though) is that these types of clusters usually have a local private registry that they use -- so when importing a thick bundle, we could point the run tool to the container registry and hydrate it before executing any CNAB action.

[2019-03-18 20:54] radu-matei commented on #114
We had a meeting about this topic earlier today, and for future reference, here are the notes:

Concerns:
- (Simon F.) only one STDIN -- if other features want to use this in the future, this becomes an issue
- (Matt B.) making sure runtimes support STDIN (Kubernetes?) in a clear way
- (Matt B.) limit to one or multiple STDIN messages? - we should not enforce this in the spec

Other possible appro

[2019-03-20 16:34] glyn opened #143 "Expose custom extensions to invocation images"
Invocation images, and particularly base invocation images, need to access [custom extensions](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#custom-extensions) so that (base) invocation image specific data can be usefully stored in a CNAB.

A use case is where a base invocation image would like to use a custom extension that specifies where image names occur in kubernetes co

[2019-03-20 17:24] technosophos opened #144 "Mount entire `bundle.json` as a file at `/var/run/cnab/bundle.json`"
In the first few drafts of the CNAB spec, the `bundle.json` was accessible inside of the invocation image (as part of the building process, it was copied in). We removed that when we lowered the requirements for building a bundle.

Now, there are several different pieces of the `bundle.json` that are interesting to authors of invocation images. Should we just require that the `bundle.json` be moun

[2019-03-21 19:19] technosophos opened #147 "Air-gap scenarios (IoT/Security/Edge/Zero Network/etc.)"
At the March 20 dev meeting, I committed to getting these documented for reference.

The following are the list of scenarios I have been presented with for the case I'm generally calling "air gap". Note that I don't know the details in most of these cases, but they come from customers or existing documented past cases.

- The "oil rig" case: The cluster only has access to a network when in port. S

[2019-03-21 19:20] technosophos commented on #147
Runtimes in these scenarios:

- Docker/OCI
- VMs (especially in some of the SCIF cases)
- Raw executables or perhaps MSIX packages

[2019-03-21 19:25] technosophos commented on #143
Ah! You beat me to it! I was thinking in #144 that we should just add back the requirement that the entire `bundle.json` be mounted at a known location in the invocation image. Thoughts on that?

[2019-03-21 21:23] GreenCee commented on #147
Cruise ship or Airplane would be a more common scenario for the submarine that is more universal

In each of those cases each time the cruise ships enters a port they will upload signed thick bundles to update their movie selection, or the software for an entertainment system. Preconfigured bundles are mailed to the appropriate ports. The use case would be entertainment packages that are specific

[2019-03-22 09:13] simonferquel commented on #147
I think, the interesting question is: in all these cases, do we expect that the airgapped environment has the following requirements:
- for docker/oci images: is there a container registry within the arigapped environment ?
- for raw executables and VM: is there a file share of some sort within the airgapped environment ?

If both are true, I think we can ditch the Thick Bundle case from the spec,

[2019-03-24 23:46] technosophos opened #149 "Rename `apply-to` to `applyTo`"
I just noticed that `apply-to` is the only property that is not camel cased. It should be renamed to `applyTo` to match everything else.

[2019-03-25 09:32] glyn commented on #147
The downside of an external tool is that it would be non-standard. I'd like to be able to choose a single runtime and know that it can relocate any thick bundle. Conversely, I'd like to be able to ship a thick bundle knowing that arbitrary runtimes will be able to relocate it.

[2019-03-25 09:48] glyn commented on #144
Yes, I think this is a great idea. I can't see any downside. In particular, this approach would solve https://github.com/deislabs/cnab-spec/issues/143 by allowing invocation images to see custom extensions. It would also simplify the runtime by avoiding it having to treat several pieces of `bundle.json` similarly.

[2019-03-25 09:49] glyn commented on #143
I prefer the solution in #144 to the one above. Let's keep this issue open until #144 is implemented.

[2019-03-25 14:35] GreenCee commented on #147
+1 on raising this core question.
I'll share some experiences to frame, I've built a couple snowflakes with airgap and similar requirements.
Definitely want to hear if chaining different tools is the right way to approach the outcome rather than rolling into CNAB spec itself. I'll echo an earlier comment that I'm expressing the UX I want, but need to be tempered with the reality and implications.

[2019-03-27 21:30] krist00fer opened #151 "Table of Contents in README.md has broken links"
In the Table of Contents section of README.md there are two broken links:

* Chapter 2
* Chapter 3

The links are broken due to case sensitive URLs/File Names

[2019-03-29 20:44] itaysk commented on #57
#133 is a great addition, but I don't think it really addressed the concerns raised here. We might close this one given there's no clearly superior solution, but just wanted make sure we understand it's more like abandoned then solved.

[2019-04-07 01:43] GreenCee commented on #147
Wanted to pull on this, and discuss further in the community call.

@simonferquel
![registry](https://user-images.githubusercontent.com/23325390/55676984-9726ce00-58ad-11e9-81f6-3e72dbc6162a.jpg)
![legend](https://user-images.githubusercontent.com/23325390/55676998-e66cfe80-58ad-11e9-9777-4dade432d144.jpg)

Ignore the ORAS label on the right, does this capture what you're describing, where the CNA

[2019-04-07 15:42] GreenCee commented on #147
Here's a real VM-centric example of what thick bundle might look like. Azure-specific, but this draws out the transport process, which is a subset of CNAB.
Feedback from customers I've pointed them at CNAB and docker-app.
They want to transport artifacts and logic(invocationImage) all together between azure stacks, onsite, cloud etc. In short portability. Today it's ARM+zipfile or DockerCompose+sc

[2019-04-08 07:44] simonferquel commented on #147
@GreenCee I am not sure I understand fully what you describe here, but I think we are aligned. My major opinion here, is that we should not require anything from the invocation image to support air-gapped scenarios. That is, as soon as the invocation image is aware of the injected image-map, it should work exactly the same as in non-airgapped.

For a container based CNAB I see it work with the fol

[2019-04-08 13:07] GreenCee commented on #147
This 110%.
Relocation and rewrites seem to be the tooling we're surfacing to fulfil this goal, as I'm sure other parts will come up, and it is a case of minimalism on which ones make it into the core CNAB-Spec

[2019-04-08 15:43] #151 closed

[2019-04-10 18:38] ryanmoran commented on #114
With the merging of #153, I think we can consider this proposal closed. We now have support within the spec for complex configurations and we have a path forward for securing any secrets that might be written out as files.

[2019-04-10 18:38] #114 closed

[2019-04-10 20:22] ryanmoran opened #156 "How can runtimes help bundle authors with dependencies?"
There is already an outstanding [issue](https://github.com/deislabs/cnab-spec/issues/132) and [PR](https://github.com/deislabs/cnab-spec/pull/133) that enables bundles to share configuration data. In addition to this configuration concern, I think there is also a question of how bundles might declare further runtime dependencies.

As an example, imagine that I am building an application bundle tha

[2019-04-11 08:56] glyn opened #157 "Support relocation of invocation images"
In some scenarios, such as deploying a thick bundle in an air-gapped system, the runtime needs to relocate invocation images (as well as the other images referenced by the bundle). To support this, the optional `originalImage` and `originalDigest` fields should be added to invocation images.

[2019-04-11 12:14] carolynvs commented on #156
@ryanmoran It looks like you are overloading dependency management, being able to swap out dependent bundles based on if it satisfies a set of requirements (and it may not just be as simple as single version range and name of a bundle), onto the existing CNAB parameter construct.

IMO if that's what you are looking for, we maybe should explicitly call it out as such "Dependency Management / Resolu

[2019-04-11 12:17] simonferquel commented on #157
same as for images, the digest should not change because of relocation. If it does, it means that the content of the image itself has changed

[2019-04-11 12:51] carolynvs commented on #156
Sorry I hate it when people say "don't do that" and then don't provide a suggestion for what to do! 😊

What I meant by that was that if we rely on each author or client's own idea of what to name the parameter for how to filter "I want mysql version X" then each will pick something different. In order for this to work well, it's important that all the bundle authors are using the same terms/mechan

[2019-04-11 13:12] glyn commented on #157
I agree with the sentiment, but please note that if the digest changes because a registry-specific compression algorithm was used, then it is conceivable for the uncompressed image content not to have changed even though the digest has.

The image relocation code preserves digests by carefully copying blobs between registries without changing their compression.

[2019-04-11 13:36] michelleN opened #159 "rename digest field to contentDigest"

[2019-04-11 13:49] #134 closed

[2019-04-11 13:56] ryanmoran commented on #156
@carolynvs, I strongly agree with you that what I have above is a hack. In the example, I'm abusing `parameters` and `outputs` to get this dependency resolution concept, and its definitely not how those APIs were intended to be used.

I am also much more inclined to believe that what you are describing with the `provides/requires` API is the right path. I'd be happy with a PR that looked roughly l

[2019-04-11 16:09] carolynvs commented on #156
Unless you'd like to do the honors, I can submit a PR next week that looks like what I have in my comment and let the rotten fruit fly! 😉

[2019-04-11 16:37] #157 closed

[2019-04-11 18:20] jeremyrickard commented on #159
As part of this, should we spell out more about how to calculate the content-digest and specify that it isn't whatever the registry digest is? I think we should make it a little more clear so we don't end up with runtimes calculating things differently that would make things go sideways if people try to move bundles between runtimes.

[2019-04-12 12:43] simonferquel opened #161 "Separate concerns between runtime spec and distribution"
In its original design, bundle.json (and bundle.cnab at this time) was supposed to be both the format the runtime would work with, and the distribution format. It lead to a mix of concerns between runtime (parameters declaration, image locations etc.) and distribution concerns (immutability, content validation etc.).

This has changed and now bundle.json (should) purely describe runtime interactio

[2019-04-12 14:47] simonferquel commented on #156
I thought dependencies were out of scope for v1 of the spec.
I think the dependency problem could be easily resolved without specifying it, by making an opinated cnab building tool similar to porter, but aggregating CNABs instead of trying to build a single invocation image.

[2019-04-12 15:46] carolynvs commented on #156
Oof, I'm sure you mean well but really that is minimizing what is a real problem that we care about and I would appreciate that we try to not say things like that in general. It makes discourages people from wanting to participate in a conversations when their concerns are dismissed like that.

Currently porter has a way for depending on other specific named bundles (which is much more limited tha

[2019-04-15 08:17] simonferquel commented on #156
@carolynvs sorry if I sounded offensive, it was absolutely not my intent.
In the past I proposed something similar (I think it was on the old docker-hosted slack channel), and the conclusion to the discussion was that we'd prefer to evaluate how a CNAB composition model could work around this problem (in a classic "prefer composition over inheritance" way of thinking).

I think we did not (yet) wo

[2019-04-15 08:48] simonferquel commented on #144
Agreed!

[2019-04-15 08:49] simonferquel commented on #144
cc @silvin-lubecki, we need to track this for docker-app (it will change the way we need to extract the image map in the run tool).

[2019-04-16 11:07] glyn commented on #161
I think bundle.json/bundle.cnab needs to include content digests so that the runtime and invocation images are certain to be operating on the same images used when constructing the bundle.

In the Pivotal Function Service image relocation use case which I've described before, the invocation image needs to know the original image names as well as the relocated image names so that we can map kuberne

[2019-04-16 14:19] GreenCee opened #162 "InvocationImage support of relocations/thick bundle"
In stepping through thin/thick bundle workflows we've identified a path forward that preserves the requirement of airgap 'thick bundle' installs without requiring entirely separate codepaths. The result is that the runtime and the invocationImages can be created in such a way they can be naïve of where the bundle is being installed as well as adding the ability for 'manual' relocation for non-supp

[2019-04-16 14:22] GreenCee commented on #142
Just realized the issue I opened was much closer related to this, so closing that duplicate and placing the issue in here:

In stepping through thin/thick bundle workflows we've identified a path forward that preserves the requirement of airgap 'thick bundle' installs without requiring entirely separate codepaths. The result is that the runtime and the invocationImages can be created in such a way

[2019-04-16 14:22] #162 closed

[2019-04-16 14:22] GreenCee commented on #162
Deduping with #142

[2019-04-16 15:16] GreenCee commented on #162
Closing - Dupe of #142

[2019-04-17 16:16] glyn commented on #156
Please note that the [OSGi](https://www.osgi.org/developer/specifications/) standard addresses a very similar inter-bundle [1] dependency requirement and has a [NP-complete dependency resolution algorithm](https://stackoverflow.com/questions/2085106/is-the-resolution-problem-in-osgi-np-complete). The OSGi resolver was a tricky thing to implement, so beware repeating the exercise. One solution is t

[2019-04-17 16:30] carolynvs commented on #156
Thanks for the link! I ran into the same category of problem working on the solver for dep and ughhhhhh, agreed this is a problem that we want to avoid.

[2019-04-18 16:15] michelleN opened #163 "open roadmap and planning"
We're currently in the process of stabilizing the spec and do updates around priorities during the community meetings but it would also be great to document our timeline/roadmap/priorities somewhere on this repo.

1. Does anyone know how other specs do this kind of open planning. would love to leverage prior art here?
2. Does anyone have suggestions on how we should go about doing this? Would a do

[2019-04-18 20:52] vdice opened #164 "Proposal: Add 'sensitive' designation to a bundle parameter to the spec"
As bundle parameters consist of values intended for the deployed application, some of which may be sensitive in nature (secrets, passwords, etc.), I'm wondering if it would be prudent to add an additional `sensitive` attribute that can optionally be added to a given parameter definition, of type `boolean`?  (Default would be `sensitive: false`)

[2019-04-19 08:30] simonferquel commented on #164
Should'nt sensitive information be passed as credentials instead of parameters ? (e.g. credentials are already identified as sensitive, and tools like Duffle do not store them in claims)

[2019-04-19 14:20] jeremyrickard commented on #164
@simonferquel we had that thought too, but that's not what the specification indicates.

If we lookat the [Credentials](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#credentials) section, the following text appears:

Credentials, it seems, are intended to represent the **identity** of the person executing the bundle, while Parameters are intended for anything configuration r

[2019-04-24 13:08] simongdavies opened #165 "Supporting Parameter and Credential Destination Paths in New Drivers"
The spec defines that [parameters](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#resolving-destinations) and [credentials ](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#credentials)can injected into an invocation image as files in absolute paths in the image filesystem. I implemented a driver using Azure ACI and it is not currently possible to support

[2019-04-25 15:34] carolynvs commented on #164
I had the same confusion about credentials being the best place to put sensitive data and I bet pretty much _everyone_ will do the same when they first use a bundle. It's really confusing.

I'd like us to either revisit that if we can? Or if that isn't possible anymore and we have to live with that decision, then we really do need a sensitive flag on parameters since they are going to be a mixed b

[2019-04-25 15:47] ijc commented on #164
Given:

Is the spec not saying that _all_ parameters should be treated by the runtime as if they had `sensitive: true` set on them? If so what additional information does `sensitive: true` give us?

Are there platforms where the runtime really wants to treat `sensitive: false` parameters differently to `sensitive: true` ones? In general I would say if you have an implementation secure enough to sa

[2019-04-25 16:33] technosophos commented on #164
To add to what @ijc is suggesting, take Kubernetes for an example. I always wondered why they added ConfigMaps after having Secrets. Why not just treat ALL params as secret, period? If there is a usecase, then I'd be in favor of adding `sensitive` with default `true`.

[2019-04-25 16:43] jeremyrickard commented on #164
I think `sensitive: true` being the default makes sense.

This issue popped up because we added this in Porter. We bake in the manifest and then use it at runtime. We just added the capability to mask sensitive values from outputs. We're masking credentials by default and we're figuring out how to handle parameters and and outputs (porter step outputs, no bundle outputs yet). I had made an error i

[2019-04-25 16:44] technosophos commented on #164
Oh... actually, that makes sense to me. I could get behind that if what we're talking about is masking output, not necessarily suggesting storage techniques

[2019-04-25 16:47] jeremyrickard commented on #164
I think we should be more explicit about storage maybe.

[code]

`OUGHT to secure ... parameter` should probably be more stern. `MUST secure` or something, so people have more assurances that stuff will be treated with the proper care.

[2019-04-25 16:49] jeremyrickard commented on #164
Here is another run of the output with masking, just as an FYI for anyone:

[code]

Note host and password are marked as secure things, so we wiped them from the logs.

[2019-04-25 16:50] technosophos commented on #164
My reasoning for avoiding MUST is that for a local-only system, it may make sense to not do encryption on at-rest... plus, some systems like Kubernetes can't do encryption at-rest by default, and Secrets really aren't all that secure.

[2019-04-26 08:39] ijc commented on #164
FWIW having `sensitive` be a display only thing (i.e. specified that it MUST have no impact on the actual storage/sharing mechanism used) makes sense to me as a usecase.

Perhaps that `OUGHT` ought (pun intended :smile:) to be a more formal `SHOULD` (per rfc2119 meaning)?

[2019-04-26 13:40] ryanmoran commented on #164
Perhaps I am misreading the JSONSchema spec or the requirements of the proposed `sensitive` field outlined above, but I think this would be covered by [`writeOnly`](https://json-schema.org/draft-07/json-schema-validation.html#rfc.section.10.3). My understanding of what is outlined there is an annotation that indicates that a field may be set or modified, but not viewed. I think this is what we wou

[2019-04-30 13:22] ryanmoran opened #170 "IANA Media Type"
We are implementing an API that consumes `bundle.json` documents. We'd like to include a `Content-Type` header filter in that API but we're unsure what the media type should be. Is there already a media type that isn't documented? Or are there plans to apply for an IANA media type?

cc @youreddy

[2019-05-02 22:21] simongdavies commented on #165
I looked into this a little more and it seems that in Kubernetes ConfigMaps and Secrets can be mounted as files in existing directories using subpaths which would work for a Kubernetes drive, I also looked at the current VM Driver in duffle and I can see how this could be implemented there, I also have a workaround for ACI Driver I can implement.

[2019-05-02 22:21] #165 closed

[2019-05-03 23:58] youreddy commented on #170
If we don't already have a media type, I would be happy to submit an application for registering a media type under the vendor tree for cnab.

[2019-05-07 01:23] jeremyrickard commented on #164
@ryanmoran I think that makes sense!

[2019-05-07 01:49] jeremyrickard commented on #164
Although, it doesn't look like we added `writeOnly` to the top level attributes, only `readOnly`. Should that get PR'ed?

[2019-05-07 11:50] glyn opened #171 "Thick bundle tar file naming"
The spec does not state how image tar files in thick bundles are named. The  following examples are given:
[code]
from which the reader might infer that file names, at least for oci and docker image types, are derived from the corresponding tagged image references with `/` and `:` replaced by `-`.

Even if this inference is correct, there are gaps in the spec:
1. What file name should be used for

[2019-05-07 15:34] glyn commented on #171
One way to avoid these problems would be to retire the tar file representation of images of type oci and docker in thick bundles in favour of the [standard](https://github.com/opencontainers/image-spec/blob/master/image-layout.md) OCI image layout representation in `artifacts/layout` (already supported in the CNAB spec). (Another disadvantage of the tar file representation is that layers in common

[2019-05-08 14:43] ijc commented on #171
I think the real issue here is not so much the naming (and the lack of spec for that) but that the spec mandates that a thick bundle contains this `artifacts` subdir without spelling out what an implementation is supposed to do with the contents of it or how it relates to what is written in `bundle.json`.

I was expecting there to be a reference(s) from `bundle.json` (e.g. from `images`) to things

[2019-05-08 14:45] michelleN opened #172 "should images be parameters?"
Right now, images (both OCI and VM) are specified in the `images` portion of the bundle.json file. See relevant portion of spec [here](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#the-image-map). Should these images be moved into the `parameters` section which get passed in at runtime? Basically, is there a need to parameterized image information? or would that be going aga

[2019-05-08 15:00] glyn commented on #171
I wouldn't really like to duplicate information from elsewhere in the bundle.

For development, I knocked up a [CLI tool](https://github.com/pivotal/image-relocation#command-line-interface) for creating OCI image layouts from image references. It's a wrapper round a corresponding [programmatic API](https://github.com/pivotal/image-relocation/blob/3c9c32bb3d97fc213476f1c9846a99ca35ecba5d/pkg/regist

[2019-05-08 15:16] glyn commented on #171
Good point.

Yeah. Maybe the current spec was trying to avoid introducing yet another name, e.g. in `images`.

I work on a project which had some code like that, but it turned out not to be suitable in environments without a docker daemon.

Also, wouldn't it be a bit of a cop-out for the CNAB standard to pre-req a specific implementation?

We can require that the image reference be stored in the `

[2019-05-08 15:20] ijc commented on #171
It would, which is why I said "the equivalent to ... `docker load`, which allows the possibility of pulling apart the `tar` yourself and doing $whatever (I don't know how practical that is in reality mind).

Yes, that would work (I think).

[2019-05-08 15:28] glyn commented on #171
I noticed your use of "equivalent to", but I think the code to do this would still be tightly coupled to the docker implementation. The only way out of that would be to _standardise_ the docker tar file format which doesn't seem to have happened so far.

[2019-05-08 15:39] ijc commented on #171
True indeed. However I think the important point though is that the spec doesn't tell anyone what to do with the content of `artifacts` and it should (and by doing so it would necessarily solve the naming issue you've found and would have to resolve the issue of what is inside those tar files too I suppose).

[2019-05-08 16:05] jeremyrickard commented on #172
My thought about this when it was discussed before was that this removes some of the immutability of the bundle. We'd be left with an immutable invocation image that has specific versions of tooling or config,  but the associated things that will actually end up running (i.e. the images) becomes a mutable thing. Although, providing these at runtime puts the burden of knowing what is what on the us

[2019-05-08 16:11] glyn commented on #171
That's an excellent point - I'll raise a separate issue to cover it. I drew the following picture the other day of how `duffle` manages oci/docker images, but very little of that is alluded to in the spec and some of it should be.
![duffle image handling](https://user-images.githubusercontent.com/94953/57388765-cd0ee900-71b0-11e9-80fc-02b8c04d3c6f.jpg)

Importing a thick bundle converts it back in

[2019-05-08 16:11] glyn opened #173 "Clarify intended usage of images in a thick bundle"
The spec currently leaves it to the reader's imagination as to how the images in a thick bundle are intended to be used. See https://github.com/deislabs/cnab-spec/issues/171#issuecomment-490549945 for more details.

[2019-05-08 18:14] michelleN commented on #171
ah yea I can see how that is confusing. This format was created when we started thinking about how to export a thick bundle on a thumb drive. The images needed to go somewhere so we created an artifacts subdirectory to put the images in a common place. On import, the implementation can determine where to find the images according to the spec and place them where they need to be located to then be

[2019-05-08 18:58] michelleN commented on #172
yes it would put more of the burden on the end user to use this overriding power wisely and yes we can put this info in the claim so that it's reviewable and verifiable.

I'm just thinking about the upgrade path out loud here. In Helm, you can override an image name/tag on an upgrade. This helps the user because they can keep all the Kubernetes configuration the same but just pass through a new im

[2019-05-09 05:08] glyn commented on #171
That works well for the tar files representation, but it wouldn't be relevant for the OCI image layout representation. For that reason, I think we'd need to make such a `path` field optional (at least some of the time).

[2019-05-09 16:48] ryanmoran commented on #164
Yes. This looks like it was something we missed when we first landed the JSONSchema support. I opened https://github.com/deislabs/cnab-spec/pull/174 which adds the `writeOnly` field.

[2019-05-10 15:09] #132 closed

[2019-05-10 23:24] youreddy commented on #172
I'm trying to workout out how this would work with the introduction of bundle dependencies (PR https://github.com/deislabs/cnab-spec/pull/166). Let's say we have bundle A and it declares a dependency on a specific version of bundle B. If bundle B's images are mutable via parameters, that pretty much negates specifying a version in the first place and may cause unexpected behavior even when a depen

[2019-05-11 01:04] youreddy commented on #163
I think this is great idea! I don't have specific examples to point to but I looked into [github project boards](https://help.github.com/en/articles/about-project-boards) and it seems like it could work well for us. I like the idea of creating an organization wide project board so that we can create cards that reference duffle, porter and other repositories related to the spec.

[2019-05-11 19:54] GreenCee commented on #172
One distinction is an image is expected to be an artifact (likely stored in a registry), and part of the manifest to export for a thick bundle.
Mutability may happen with relocation, but should maintain the same content hash.
Might be noting that a relocation should append and sign.

Parameters will often be mutable (though may have defaults), and I don't think them changing requires the same leve

[2019-05-11 23:13] SteveLasker opened #175 "Separate Invocation Image from Artifacts"
The current spec includes all artifacts used to deploy a bundle within the invocation image. This means that any change to a helm chart, a compose file, an [OPA Bundle](https://github.com/open-policy-agent/opa/issues/1413) will require the invocation image to be rebuilt. It also avoids the ability to have common invocation images shared across different bundles, or have the common invocation image

[2019-05-11 23:20] SteveLasker commented on #175
Responding to: https://github.com/deislabs/duffle/issues/749#issuecomment-491550081

The issue isn't just about having to rebuild the invocation image each time. It's a collection of the 4 bullets at the end of the issue.
If I have a set of artifacts, Images, Helm Charts, Singularity Images, ARM or Cloud Formation Templates, OBA Bundles already in the registry, why would I want to duplicate them i

[2019-05-13 16:45] GreenCee commented on #147
This tool came up at RH Summit: https://github.com/RedHatOfficial/odie/blob/master/README.adoc

In this case ODIE aims to provide a 100% batteries included environment to the point of being a bootable DVD.

For CNAB, I understand the goal as being less of a 'bootstrap from nothing' and more of using parameters, rewrites etc for a streamlined experience.

So a CNAB could contain a VM to provide thi

[2019-05-13 17:01] GreenCee commented on #142
This tool came up at RH Summit: https://github.com/RedHatOfficial/odie/blob/master/README.adoc
In this case ODIE aims to provide a 100% batteries included environment to the point of being a bootable DVD.

I don't think CNAB is aiming to be a bootstrap-from-zero solution.
It may contain infrastructure-like things, but typically an environment will have services to integrate with through relocation

[2019-05-13 17:55] squillace commented on #175
I like the flexibility the idea brings, of course. Without taking my time about it, however, I fail to see the immediate need to add the flexibility. The spec currently works well.

At the moment, I see that CNAB heading toward RC and then 1.0 by rebuilding the bundles, which are OCI images and we can ensure guarantees the specification makes. This issue would radically alter the spec, resulting i

[2019-05-13 23:01] technosophos commented on #147
ODIE looks very interesting as a way of traversing that particular security boundary.

[2019-05-14 20:09] GreenCee commented on #175
I may be wrong, but I interpreted as the door was open to more than just OCI/Docker images in the image map, it just happens that the only imageType used right now has been docker and OCI
https://github.com/deislabs/cnab-spec/blob/master/103-bundle-runtime.md#image-map

Should be explicitly draw OCI/Docker as the supported imageType in 1.0?

With the addition of 'relocation' as a concept (Distribu

[2019-05-15 08:27] simonferquel commented on #172
I think immutability is very important, but adding some kind of parameterization here could help for some scenarios.
One thing that we are evaluating for Docker-App that does not require any change from the spec, is to break the 1:1 relationship between component and images in the following way:
- add an image library (probably an images.yml) in the docker-app package sources
  - this would basica

[2019-05-15 08:37] simonferquel commented on #175
I like the idea of generic invocation images, and I think we can leverage the "component" images to store artifacts such as compose files etc. without evolving the spec.

I would love to see an experiment of that in docker-app as we already do a `docker-build` just to package artifacts on top of a common base invocation image. @chris-crone what about doing a quick POC on docker-app to check if it

[2019-05-15 09:54] radu-matei commented on #172
One thing to notice regarding mutability and relocation is that a relocation operation currently outputs a new bundle, so you don't actually change an existing bundle.

That being said, assuming we change one image in the bundle - how does this affect:

- checking of that specific image digest
- can you still trust the digest and signature of the bundle file itself?

My initial instinct would be t

[2019-05-15 10:10] radu-matei commented on #175
@GreenCee - I'm not sure we need to necessarily restrict the image type to OCI / Docker - and I'll let @SteveLasker comment on this more, but technically `oras` could push any image type - although it might make sense to restrict the initial testing to OCI images.

Another question I have is how would a `bundle.json` keep track of all referenced artifacts, and how should runtimes work with registr

[2019-05-15 13:44] SteveLasker commented on #175
It seems the biggest confusion is around being able to store different things, and differentiate what they are within OCI Artifact Registries. [Singularity](https://azure.microsoft.com/en-us/blog/azure-container-registry-now-supports-singularity-image-format-containers/) is one of the best examples of this. Sylabs was stuffing their SIF formats into the docker/OCI image format, but had to convert

[2019-05-15 17:07] carolynvs opened #178 "Vote: Prefix parameters.required with $ to indicate it is reserved"
In our community meeting today, it was brought up that the recent json schema changes have caused us to inadvertently cause the parameter name "required" to be an undocumented reserved word and it is not possible for someone to use that as a parameter name.

A suggestion was to prefix required with `$` and make it reserved, similar to how we have already done so for `$comment`.

So instead of

[co

[2019-05-16 13:56] simongdavies opened #179 "What is the default platform for an invocation image?"
The spec defines that an invocation [image can optionally include a platform  object](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#invocation-images) specifying the os and architecture for the image. I cannot find anywhere that specifies what the default value is if these are not specified (implicitly it seems to be os==linux and architecture==x86-64) should these values be

[2019-05-16 14:15] simongdavies commented on #178
Isn't it documented by the fact that it is in the spec and enforced by the schema?

[2019-05-20 08:08] carolynvs commented on #178
It wasn't clear at all that we intended to camp on the name "required". In the PRs we talked about following json schema, but then in the implementation we didn't follow it 100% and ended up with this, where required is at a hierarchy level different from how json schema does it so that "required" is now not able to be used as a parameter.

Being in the json isn't enough, and it's not that hard to

[2019-05-20 13:18] ryanmoran commented on #178
As an alternative, we could introduce a new field under parameters, maybe something like `fields` that would house the actual parameter definitions and then hoist the `required` field up to that same level:

[code]

After the addition of `outputs` I'd also been thinking a bit more about how we could have done this JSONSchema addition a bit better. For example, it may have made more sense to have s

[2019-05-24 18:55] GreenCee commented on #163
Firecracker just posted their 2020 roadmap RFC as part of an issue. Sharing that view of the next things coming up drove clarity of what to expect out of 175+ open issues

https://github.com/firecracker-microvm/firecracker/issues/1104

[2019-05-28 14:38] glyn commented on #172
@michelleN I'd like to understand how upgrading a bundle is meant to happen in CNAB. Suppose the user has installed bundle B and then wants to upgrade to bundle B'. Do they simply use the runtime to execute the "upgrade" action of bundle B'?

If so, why does upgrade requires images to be parameterised since B' "knows" about the new images and can perform the corresponding upgrade (using helm or wh

[2019-05-29 14:22] glyn opened #180 "Delete all mentions of drivers"
According to the discussion in the [CNAB community meeting of 27 Feb 2019](https://hackmd.io/s/SyGcBcwQ4#February-27-Agenda):

So all references to drivers in the spec should be deleted.

This should include the following paragraph from [invocation images](https://github.com/deislabs/cnab-spec/blob/0abbb9e0d52b0ae631d12cf8278711c69fb24c64/101-bundle-json.md#invocation-images):

[2019-05-29 15:01] simongdavies opened #181 "Proposal:Add an immutable property to bundle parameter object"
Some parameters to bundles may be immutable, examples include:

- properties of resources that can only be set when those resources are created (e.g. in Azure a VM password can only be set when a VM is created, attempts to update it will be met with failure)

- where a bundle targets new or existing infrastructure resources its important to know on subsequent actions if those infrastructure resour

[2019-05-29 15:05] carolynvs commented on #179
Seems like not just the defaults but the set of values would be best to put in the spec as well, no? Otherwise there are many different tags that could be used to specify an OS or ARCH, and I think in the examples given so far, we are assuming the terms used by Go. It would help to say what we are following so that people know where the list of acceptable values are coming from.

[2019-05-29 17:05] glyn opened #182 "Remove tar file representation of images in thick bundles"
The consensus at the 29 May CNAB community meeting was that we remove the multiple tar file representation of images in thick bundles from the spec and focus on the OCI image layout representation.

[2019-06-04 16:36] technosophos commented on #82
So this was moved to its own spec, and can now be removed from the 1.0 milestone.

[2019-06-04 20:40] jeremyrickard commented on #164
Closing this per #174

[2019-06-04 20:40] #164 closed

[2019-06-04 20:45] jeremyrickard commented on #178
@ryanmoran I initially added this to the 1.0 Milestone. I feel like we should resolve the issue about parameters and required before we declare the spec 1.0 since it's a breaking change. You mentioned holding back to a v2...if we make this change before 1.0 would that derail you?

[2019-06-04 21:16] jlegrone opened #184 "Proposal: Require output paths to be subpaths of /cnab/app/outputs"
Right now the spec does not specify a location for [output paths](https://github.com/deislabs/cnab-spec/blob/0abbb9e0d52b0ae631d12cf8278711c69fb24c64/101-bundle-json.md#outputs). This can make driver implementation tricky in some cases, and can also lead to conflicts with params and credentials.

I propose modifying the spec to say the following:

1. An output path MUST be a subpath of `/cnab/app/

[2019-06-04 21:43] jlegrone commented on #147
I think it would be great for the spec to define a path on the filesystem for json-schema to be located in thick bundles. Right now I believe implementations would need network access to fetch schemas.

[2019-06-04 22:18] ryanmoran commented on #178
@jeremyrickard it would not block us. I was most trying not to block a path to 1.0. I agree it would be important to solve, and I’d prefer to see it sooner rather than later, just stating our flexibility with it sliding to later if it really needs to go.

[2019-06-06 16:34] simonferquel commented on #182
Agreed, should be done for 1.0.0

[2019-06-06 16:38] simonferquel opened #185 "Consider removing "platform" field in image and invocationImage"
The image reference can point to either a single or multi-arch image in the registry. I think having the platform spec in bundle.json as well is confusing.

This remark might be nuanced for VM based scenarios, wdyt ?

[2019-06-06 16:40] simonferquel commented on #181
I agree with this, should we consider that for 1.0.0 ?

[2019-06-06 16:41] simonferquel commented on #179
Related to that, I added #185. I think it is confusing, as the image referenced can itself be a multi-arch image.

[2019-06-06 16:42] simonferquel commented on #179
(and even if it is not, the os/arch can be inferred on inspecting the image manifest)

[2019-06-06 16:47] simonferquel commented on #172
One thing you can do, is introduce a new version of the bundle each time some images get updated (this way your whole CI/CD is assumed to have run and validated that the new images fit together correctly). You can upgrade an installation by referencing the new version of the bundle, thus upgrading the component images.

Also, one bundle author might prefer to treat some image names as parameter. T

[2019-06-06 18:40] technosophos commented on #159
We're trying to get everything consistent, so it should be `contentDigest`, not `content-digest`. See #149 .

[2019-06-06 18:43] #149 closed

[2019-06-06 18:55] technosophos commented on #185
1. We need to keep it for VM and MSIX
2. I am told that not all registries correctly do multi-arch, so we need to leave it for those cases. However, I don't know what registries those are.

[2019-06-06 18:56] technosophos commented on #184
This makes sense to me. In fact, I can't think of any reason not to do this. @jeremyrickard ?

[2019-06-06 18:57] jeremyrickard commented on #178
@ryanmoran I'm in favor of your suggestion. We didn't seem to get any voting here so I'll ping the Slack channel to encourage.

I think maybe your suggestion is two different issues, just for the sake of reviewing.

[2019-06-06 18:57] technosophos commented on #178
I am in favor of @ryanmoran 's recommendation.

[2019-06-06 18:57] jeremyrickard commented on #184
Nope, this sounds good to me.

[2019-06-06 19:37] technosophos commented on #170
Yeah, we should do that.

[2019-06-06 19:41] technosophos commented on #92
Okay, I fixed the version number in the JSON schema, and I think when we do the release of CNAB Core 1.0, we can add in the `$schema` URL for hte final 1.0 version.

[2019-06-07 04:44] radu-matei commented on #181
I can't think of reason not to have this.

[2019-06-07 04:44] radu-matei commented on #182
LGTM.

[2019-06-07 20:20] #92 closed

[2019-06-07 20:21] #119 closed

[2019-06-07 21:38] technosophos commented on #182
All we need is a PR for this, I think. Nobody seems to disagree.

[2019-06-07 21:42] #180 closed

[2019-06-11 08:23] simonferquel commented on #159
Just edited the title based on @technosophos remark

[2019-06-11 08:25] simonferquel commented on #172
Should we close this issue, or should we add a non-normative section about image handling (like describing both approaches as valid, and listing pros and cons) ? cc @michelleN

[2019-06-12 11:29] glyn commented on #173
I believe this is covered sufficiently by the new [Disconnected Scenarios section](https://github.com/deislabs/cnab-spec/blob/master/805-airgap.md).

[2019-06-12 11:29] #173 closed

[2019-06-12 14:31] glyn opened #195 "Avoid producing a new CNAB during relocation"
The current CNAB spec requires image relocation to capture a mapping from original to new image references in the CNAB so that the invocation image can take this into account. In other words, relocation takes a CNAB as input and produces a modified CNAB as output. This won't work well with signing.

It would be better for relocation to avoid mutating the CNAB and, instead, to output a separate fil

[2019-06-12 14:54] glyn commented on #195
If https://github.com/deislabs/cnab-spec/issues/144 is added to the spec, then the relocation mapping proposed above can be greatly simplified since it need only provide the actual mapping from original image references to relocated image references, probably without needing to differentiate between invocation and other images. The above relocation mapping could then be simplifed to:
[code]

[2019-06-12 15:32] #184 closed

[2019-06-12 15:45] glyn commented on #171
Closing this in favour of https://github.com/deislabs/cnab-spec/issues/182. If https://github.com/deislabs/cnab-spec/issues/182 gets thrown out, I'll re-open this issue.

[2019-06-12 15:45] #171 closed

[2019-06-12 15:54] #182 closed

[2019-06-12 16:07] jeremyrickard commented on #147
@jlegrone We should open a follow-up to track this one. I'll drop one in.

[2019-06-12 16:07] #159 closed

[2019-06-13 09:17] glyn commented on #144
@youreddy You are working on a PR to fix this issue, so I took the liberty of assigning this issue to you. Please unassign if that's not appropriate.

[2019-06-13 14:54] jeremyrickard commented on #178
This is closed by #191 and #192.

[2019-06-13 14:54] #178 closed

[2019-06-13 14:59] jeremyrickard opened #197 "Proposal: Refactor Outputs To Match The Use of Definitions in Parameters"
#192 recently updated the parameter definition to move the actual JSON Schema definitions to a top level element called `definitions`. We should update outputs for both consistency and to possibly support reuse of these definitions.

cc: @ryanmoran

[2019-06-13 16:03] jeremyrickard opened #198 "Proposal: Remove vague credential text"
In the [credentials](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#credentials) section of the [101-bundle-json.md](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md), there is text about the use of `path` and `env`:

The intent of this text is unclear and confusing.

* Does it imply that one should _*NOT*_ specify both? If so we should error
* Does it imp

[2019-06-13 17:00] technosophos commented on #198
I was looking at this last week.

The text as it stands now states that if a configuration is supplied with two targets, the runtime only needs to populate one destination.

But digging back through this history, it appears that that particular line was referring to the way credentials were searched for on the user's machine (prior to credential sets). So I think this can be safely removed. The ap

[2019-06-13 17:53] technosophos commented on #181
I started to implement this, but it seems that I can accomplish the desired behavior by just specifying `"applyTo": ["install"]`, which effectively masks the parameter for anything but install operations.

Is there something more we need?

[2019-06-13 18:04] technosophos commented on #179
For naming conventions, I was following the arch and OS defined by Docker, which are consistent with the ones used by Go.

The intention of this section was to make it possible to differentiate multiple images _to a user_. So in that sense, `platform` was really more like a set of convenient labels so that they could tell why there were multiple invocation images. Originally, we had talked about m

[2019-06-13 18:05] technosophos commented on #185
In #179, I suggested replacing `platform` with `labels` and making it free-form name/value pairs. This actually comes closer to meeting the original design objectives of that section, which was to allow a user to pick invocation image variants.

[2019-06-13 18:26] jeremyrickard commented on #198
That fits with what we have for parameters.

[2019-06-13 19:05] simongdavies commented on #181
if we used applyto doesn't that mean by definition that the value would not get presented to other actions? I need to be able to read the value in all actions but only set it at install time , I _think_ that is the difference?

[2019-06-17 18:21] jeremyrickard commented on #198
Closed by #199

[2019-06-17 18:21] #198 closed

[2019-06-18 08:13] glyn commented on #195
@radu-matei After Thursday 20th June, I will on vacation until after the v1.0 spec deadline, so if you'd like to discuss this issue with me, please grab me before then.

I think the spec changes need to include the following:
* Since https://github.com/deislabs/cnab-spec/issues/144 looks set to be addressed, relocating a CNAB should no longer produce a new CNAB but should produce a _relocation map

[2019-06-18 15:25] simongdavies commented on #179
OK this makes sense. I think that there is an issue in duffle though as the driver interface does not pass information about the platform\arch and there are cases where the driver is capable of invoking images using different platforms and arches (e.g. kubernetes, ACI etc.) I will open an issue over there

[2019-06-18 20:58] #197 closed

[2019-06-18 20:59] jeremyrickard commented on #144
Closed by #196

[2019-06-18 20:59] #144 closed

[2019-06-19 14:03] glyn commented on #195
Another option to consider is to regard the production and consumption of the relocation mapping file to be implementation specific and simply define the format of the file and where it should optionally be mounted when a bundle has been relocated. However, I don't see much advantage in that and I think it would make the spec unnecessarily obscure.

[2019-06-19 18:34] simonferquel commented on #195
I really like this approach, thanks!

[2019-06-19 23:04] astrieanna opened #201 "Including the bundle.json in the invocation image creates a loop"
Currently, the [file system layout for invocation images](https://github.com/deislabs/cnab-spec/blob/master/102-invocation-image.md#the-file-system-layout) shows the bundle.json file includes in the image.

This creates a loop:
* bundle.json includes a checksum for the invocation image
* the invocation image includes bundle.json, changing its checksum
* bundle.json changes due to the checksum chan

[2019-06-20 08:41] glyn commented on #195
Or, probably better, the relocation mapping MUST include in its keys all the images defined by the CNAB and MAY include mappings for [synonyms](https://github.com/pivotal/image-relocation/blob/1445a3d1e9b659ed2700a0ff537848a525505dbe/pkg/image/name_test.go#L201) of those keys.

With this, invocation images don't need to worry about synonyms,  since the keys of the relocation mapping will cover all

[2019-06-20 13:42] ryanmoran commented on #201
I believe that the inclusion of the bundle.json file in that part of the spec is a mistake. The bundle.json is not baked into the invocation image, but injected into the container that invokes the run tool at run time as explained [here](https://github.com/deislabs/cnab-spec/blob/master/103-bundle-runtime.md#bundle-definition).

I propose that we remove the mention of the bundle.json file from the

[2019-06-20 18:02] ryanmoran commented on #195
I got some feedback today from a team building a bundle and wanting to support the relocation use-case. They were wondering if runtimes could make a guarantee that there would always be a relocation mapping file in the invocation container. From there perspective, they didn't want to have to write code to first check if the file was there, and then to do the mapping.

@glyn and I talked about this

[2019-06-22 00:29] astrieanna opened #204 "Rename Required Actions (Install, Uninstall)"
I think that Install and Uninstall are not the best terms for the required actions and that they are a poor enough fit that they cause problems communicating with stakeholders (creators of CNAB bundles, etc). If a change can be agreed to, the time to make the change is now (pre-1.0).

Install/Uninstall makes some implications:
1. When you install software, it is to a specific laptop or server (e.g

[2019-06-24 23:00] astrieanna opened #207 "103-bundle-runtime: is defaulting the main entry point a MUST or a SHOULD?"
In [103-bundle-runtime: The Run Tool](https://github.com/deislabs/cnab-spec/blob/master/103-bundle-runtime.md#the-run-tool-main-entry-point), the first paragraph of the section includes the following:

This seems contradictory. If Dockerfile's exec array is an example of the previous sentence, then the all-caps words should match. From the surrounding context, it seems like the `MUST` should becom

[2019-06-26 16:20] simonferquel commented on #204
I'd rule out create/delete as it is confusing if you want to create a bundle, or create an installation.

Actually my preference is still install/uninstall with a short second place for provision/deprovision

[2019-06-27 22:39] astrieanna opened #209 "Vague Unicode Character Class Descriptions in 101-bundle-json"
There are two sections of 101-bundle-json that mention unicode characters.

[Dotted Names](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#dotted-names):

[Name and Version: Identifying Metadata](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#name-and-version-identifying-metadata):

I added emphasis to the relevant phrase from each quote. Both of these ph

[2019-06-27 22:47] astrieanna commented on #27
I looks like all the discussion here has focused on making sure bundles are compliant with the CNAB spec, but the initial description also mentions making sure tooling is compliant.

Is there discussion anywhere for how compliance tests might be implemented for CNAB runtimes?

[2019-06-27 23:41] astrieanna opened #210 "Inconsistent Formatting Question"
There is some formatting that seems to be used inconsistently across files in the repo.

* ["thick" bundles](https://github.com/deislabs/cnab-spec/blame/master/101-bundle-json.md#L33) vs [thick bundles](https://github.com/deislabs/cnab-spec/blame/master/100-CNAB.md#L35) vs [Thick Bundles](https://github.com/deislabs/cnab-spec/blame/master/805-airgap.md#L43)
  Most places (files 100, 103, 300) use

[2019-07-01 17:36] technosophos commented on #27
To my knowledge, nobody has yet attempted that. It would be good to start a fresh discussion on the issue, though. The spec is fairly explicit about what conditions need to be satisfied, but we have no documentation at all on how to validate that.

[2019-07-01 21:23] #201 closed

[2019-07-01 21:35] astrieanna opened #213 "Conformance Tests for CNAB Runtimes"
## The Problem
Because the CNAB spec is a complex document written in english and translated into implementations by humans, there is a risk of differences between runtime implementations (through misunderstandings, mistakes, etc). A common suite of tests for all CNAB runtimes would help runtime authors validate that they have correctly implemented the spec.

## Test Structure
An approach to this

[2019-07-05 15:06] jeremyrickard opened #214 "Can a credential be a directory?"
Per https://github.com/deislabs/duffle/issues/791, can credentials represent a directory?

[code]

Which is clarified by:

[code]

Should "file" here be jsut a file? Or can it also be a directory?

[2019-07-05 16:45] astrieanna opened #215 "CNAB Spec patterns are not RE2"
The [pattern for credential paths](https://github.com/deislabs/cnab-spec/blob/master/schema/bundle.schema.json#L19) and the [pattern for parameter paths](https://github.com/deislabs/cnab-spec/blob/master/schema/bundle.schema.json#L184) in `bundle.scheme.json` both use the `?!` lookahead feature that is allowed by jsonspec but is not available in Go's re2 regexes. Javascript and PCRE regexes suppor

[2019-07-08 12:11] glyn commented on #204
+1

Also, we should consider what to do with "upgrade" as I think this may carry install/uninstall connotations for some people. For example, is provision/upgrade/deprovision" reasonable? I think it's a bit clunky.

[2019-07-08 13:36] maybo commented on #204
Hi, I'm usually read-only, but we are in very similar discussions :)
we decided to go for  "Start"/"launch" and "End" for our bundle (btw we are looking at how to work with CNAB). The reason was that "provisioning" is saved for infrastrcture-related defintions, "deployment" and "install" usually refer to applications and we also got feedback that it would be extremely confusing and limiting to use

[2019-07-08 16:31] astrieanna commented on #204
🥇 I really like those word pairs because they match how generic bundles are and focus on when the phases run. I've added them to the list at the top to consolidate the options.

[2019-07-09 08:58] glyn commented on #204
@astrieanna What would you propose to do with "upgrade" for each of those pairs?

[2019-07-09 09:08] maybo commented on #204
@glyn we went for Launch/End/Update

[2019-07-09 13:05] simongdavies commented on #204
If this is going to change then I would go for create\upgrade\destroy. It conveys that an instance of the application and any associated resources\services\data is being created, upgraded and destroyed.

I don't think that there is an issue with confusion with creating a bundle, the use of create is defined by the tool not by the spec and could be changed to scaffold (the help description for crea

[2019-07-09 15:30] glyn commented on #204
I'd like to understand how we will talk about the actions informally and in documentation. I'd be much more likely to talk about installing a CNAB rather than creating a CNAB since that really could be confused with, er, creating the CNAB.

[2019-07-09 17:07] astrieanna commented on #204
@glyn I think the confusion you're pointing is that if you "create a CNAB", you should end up with a new CNAB. If you "run the create action on a CNAB" (too many words), you should end up with a <thing this bundle creates>.

I feel like the verbs for these action names are the things you're asking the invocation image to do, so you don't need the "<verb> a CNAB" form to work -- you need the "<verb

[2019-07-09 17:45] ryanmoran commented on #204
I think that I find the phrasing of installing a bundle to be a bit confusing. "Installation" is the word that the spec uses to describe the instance of a "running" bundle. But the only open runtime that I know of, `duffle` makes no mention of that concept at all. Instead, it opts for using a command like `duffle bundle install` to handle this process.

I tend to think of it as "installing a bundl

[2019-07-10 07:38] glyn commented on #204
Those are good points @astrieanna and @ryanmoran. I'm wondering what informal language we'll use, regardless of the action names. Some options are:
* run the X action on a CNAB (too wordy)
* run X on a CNAB
* X a CNAB (this seems to be the most confusing and yet the one we'll fall into unless we are careful)

On a separate point, if we do rename the standard actions perhaps we should add a standar

[2019-07-10 15:29] #181 closed

[2019-07-10 16:04] #195 closed

[2019-07-12 12:29] #185 closed

[2019-07-15 11:51] jlegrone opened #222 "Make specifying required parameters consistent with required credentials"
Specifying required credentials is currently done via a boolean `required` property on each credential:

https://github.com/deislabs/cnab-spec/blob/8ec6c23db9bbc404be551ef13872c19fe03cc437/schema/bundle.schema.json#L22-L26

While required parameters are currently listed in a `required` array of strings referencing parameter keys:

[code]

This is also not internally consistent with how `immutable`

[2019-07-15 20:31] technosophos commented on #214
I guess we could do directories... but it is more of a security risk. I mean, stupid example is, I have an SSH key in `~/.ssh` that I want to load up. At the time, I have only one key in there, so I set up my initial credential set to use that directory. Later, I add more keys. Then I run an upgrade using the same credential set. Now I have inadvertently exposed all of my SSH keys.

[2019-07-15 20:35] technosophos commented on #215
Given that this is the spec repo... on the spec side we could merely drop the regex, or we can keep it and let the Go-based projects solve this problem on their own. I think I would be in favor of the second approach.

For Duffle/cnab-go, I guess the question is: Is there a PCRE implementation in Go? I guess we could use `cgo` to link it in... but that seems like a heavy-handed approach.

[2019-07-15 20:41] technosophos commented on #210
First occurrence of an important technical term in the spec should be in italics: _thin bundles_, and should be followed by a definition. Later occurrences do not need to be in italics. The "scare quotes" should only be used to reference an outside jargon used against the definition of the spec ('Some people term JavaScript developers with database experience "full stack developers"'). So thick/th

[2019-07-15 21:07] technosophos commented on #209
My understanding is that both _unicode letters_  and _unicode graphic characters_ (not `graph`)  are acceptable technical descriptions for their respective groups of unicode characters. The Unicode spec is explicit about what _unicode graphic characters_ means (Easiest read: http://www.unicode.org/glossary/#graphic_character), so I am not sure that needs more definition. If you want to list the in

[2019-07-15 21:11] technosophos commented on #207
SHOULD is the correct term here. I'll do a quick PR.

[2019-07-15 21:25] technosophos commented on #204
Just to clarify some roots: Terminology is largely around the root "instance". The cognates "install" and "installation" are related by design. "If you install a bundle, you get an instance of that bundle". The term "install" NEVER refers to bundle as a _class_, but as an _instance_. (I don't _install_ a CNAB  bundle into a registry, I _push_ it into a registry. When I am done, I _delete_ it from

[2019-07-15 21:26] jeremyrickard commented on #214
I think that’s a good reason why not to do a directory. The explicitness of single file/env variables has a better audit ability I think.

[2019-07-15 21:26] technosophos commented on #172
It's been a month with no objection to closing this. So I am closing it.

[2019-07-15 21:26] #172 closed

[2019-07-15 21:27] technosophos commented on #170
Has anyone tackled this yet? Otherwise, we should probably declare a name in the extension space.

[2019-07-15 21:28] technosophos commented on #161
Can we close this one?

[2019-07-15 21:29] technosophos commented on #156
Is there anything left to do on this? It appears to have been largely addressed by #166.

[2019-07-15 21:29] technosophos commented on #143
Closed, since #144 was closed

[2019-07-15 21:29] #143 closed

[2019-07-15 21:30] technosophos commented on #138
I believe this issue can now be closed. Feel free to re-open if there are additional actionable items.

[2019-07-15 21:30] #138 closed

[2019-07-15 21:31] technosophos commented on #67
This was resolved with #114

[2019-07-15 21:31] #67 closed

[2019-07-15 22:08] technosophos commented on #65
I believe that this can be closed now that #166 is merged.

[2019-07-15 22:08] #65 closed

[2019-07-15 22:10] technosophos commented on #222
I believe `"required": [ ... ]` is a result of using JSON Schema's syntax. I don't think we can change that and still be able to say that parameters are defined according to JSON Schema. However, we could change the behavior of `required` in `credentials` to match.

[2019-07-15 22:13] technosophos commented on #90
Any update on this?

[2019-07-15 22:31] jlegrone commented on #222
Do we state that `parameters` is a JSON schema document in the spec? I wasn't aware that was a constraint (we currently include non-normative fields like `destination` and `immutable`). A `required` field can still be correctly described in the bundle schema itself (see [credentials](https://github.com/deislabs/cnab-spec/blob/8ec6c23db9bbc404be551ef13872c19fe03cc437/schema/bundle.schema.json#L22-L

[2019-07-16 16:25] astrieanna commented on #209
For graphic characters, I agree that it appears to be a typo (foiling my googling). I can make a PR to correct the typo and link to the glossary entry that you linked to above (for people unfamiliar with unicode).

For the letters, I noticed that the graphic character definition says "a character with the General Category of Letter (L)". I would be happy to use that rather than listing all of them

[2019-07-16 18:57] technosophos commented on #209
That sounds excellent to me.

[2019-07-16 19:24] technosophos commented on #222
I agree on the ergonomics. I think `required: []` feels clunky, and is easy to mis-read or ignore. Maybe since our minor reorganization of the JSON Schema stuff it is possible to move it. @ryanmoran might be best to answer that

[2019-07-16 21:15] ryanmoran commented on #209
Is it intentional that Dotted Names contain only Unicode Letters, dots, and dashes while the bundle `name` contain Graphic Characters, which is a much larger category of characters (Letters, Marks, Numbers, Punctuation, Symbols, and Spaces)?

[2019-07-16 21:31] technosophos commented on #209
Yes -- dotted names are intended to be easy to parse, while the `name` field is designed for user display. And it was intended that dotted names could be turned into internationalized DNS names.

[2019-07-18 17:22] #209 closed

[2019-07-18 17:22] #207 closed

[2019-07-18 17:42] technosophos commented on #222
If anyone else feels  like weighing in.... this is something that would be nice to change before 1.0 if we really want to. On the flip side, I can see the argument for not making a late breaking change.

[2019-07-18 18:35] technosophos commented on #147
Removing this from the 1.0 milestone. We believe it has been addressed for CNAB Core 1.0, and now it needs to be attached to registry spec for related work there

[2019-07-18 18:38] technosophos commented on #61
I believe this is now closed.

[2019-07-18 18:38] #61 closed

[2019-07-18 18:38] technosophos commented on #170
I have added this to the registry milestone because this is likely a required part of that endeavor

[2019-07-18 20:00] vdice commented on #222
I'd definitely be in support of this.  Indeed, it would be a good to get in pre-1.0 if consensus can be reached quickly and the breaking change doesn't prove too disruptive to others.

[2019-07-20 19:18] jlegrone commented on #210
Also "CNAB bundle" vs. "bundle" or "CNAB"

[2019-07-22 14:29] #210 closed

[2019-07-22 18:23] jeremyrickard opened #229 "Resolve the `immutable` and `readOnly` behavior of parameters"
For more descriptive text, see https://github.com/deislabs/cnab-spec/pull/227#issuecomment-513835322.

TL;DR, `readOnly` in the definition of a param seems to cover what `immutable` on a parameter is intended for. Is it needed as a bespoke functionality?

Can we remove `immutable` and rely upon the `readOnly` attribute of the definition for now? Or do we need this as a separate thing (i.e. two par

[2019-07-22 18:32] technosophos commented on #229
The original discussion on `immutable`: https://github.com/deislabs/cnab-spec/issues/181

/cc @simongdavies

[2019-07-22 18:42] #222 closed

[2019-07-23 02:02] jeremyrickard commented on #229
Thanks for linking that @technosophos

[2019-07-23 17:24] technosophos commented on #229
I'm leaning toward removing `immutable` for the initial CNAB Core 1.0 release. If we need to add it back after the release, when we've had time to discuss how to keep it from being confusing to the user, we can do that.

[2019-07-23 17:31] jeremyrickard commented on #229
I'm good with that too. @ryanmoran what say you?

[2019-07-24 19:09] ryanmoran commented on #229
With this reversion, will we be also reverting the change in https://github.com/deislabs/cnab-spec/pull/227?

If not, we should probably also remove the wrapping `fields` object in `outputs` as they are now no longer symmetric.

[2019-07-24 19:10] jeremyrickard commented on #229
I don't have a strong opinion on reverting #227 or applying the same pattern to Outputs. I think either is acceptable.

[2019-07-30 14:36] #229 closed

[2019-07-30 14:43] youreddy opened #234 "Remove `fields` from outputs"
In https://github.com/deislabs/cnab-spec/pull/227, we removed `fields` from the `parameters` section. For consistency we should also remove it from `outputs`.

Related issue: https://github.com/deislabs/cnab-spec/issues/197

[2019-07-31 00:35] #234 closed

[2019-07-31 23:27] astrieanna opened #237 "What happens after a failed Install action?"
In the spec, it is assumed that the install action will be run once, upgrade zero or more times, and uninstall once. What are runtimes expected to do when those invocations fail?

This needs to be clearly defined in the spec so that both runtimes and bundle authors can write correct implementations. A few possible approaches:

# Install
Either of the first two options should be easy to add to the

[2019-08-07 16:45] glyn commented on #237
Another option was proposed at today's CNAB community call:

4. After a failed `install`, the CNAB runtime marks the bundle state in error and the only action that can be run successfully against the bundle is `uninstall`.

From the bundle author's point of view, I think I'd favour option 1 or option 4.

Option 2 feels a bit strange because the upgrade could have to cope with all kinds of intermed

[2019-08-07 18:12] vdice opened #240 "Claims: Gap in spec re: custom?"
While working on the [cnab-go ticket](https://github.com/deislabs/cnab-go/issues/74) to update its Claim struct in accordance with the claims spec, I'm noticing the following:

The [claim.schema.json](https://github.com/deislabs/cnab-spec/blob/master/schema/claim.schema.json) file has a [custom](https://github.com/deislabs/cnab-spec/blob/master/schema/claim.schema.json#L44-L46) section as follows:

[2019-08-07 19:29] vdice opened #241 "Claims: Schema has invalid URI for bundle spec ref"
The Claim schema has a [$ref](https://github.com/deislabs/cnab-spec/blob/master/schema/claim.schema.json#L37) field associated with its `bundle` property pointing to a URI that doesn't exist.  (`http://cnab.io/v1/bundle.schema.json`)

We should ensure this URI exists and/or update it accordingly.

I hit this in an attempt to validate a generated claim programmatically; the library used attempted t

[2019-08-07 19:36] vdice commented on #241
Actually, we might make this issue more general to ensure the base [bundle schema](https://github.com/deislabs/cnab-spec/blob/master/schema/bundle.schema.json)'s `$id` (`http://cnab.io/v1/bundle.schema.json`) represents a valid URI that can be fetched over the network.

[2019-08-07 22:10] itowlson opened #242 "Support display names for actions"
The CNAB WD says that action names "SHOULD use dotted name syntax".  This is great for uniqueness, but not great for UI.  Could we have an optional 'display name' attribute for actions?  The scenario is a GUI which displays the actions that can be taken on a bundle (or installation/instance/claim), e.g. as buttons or on a menu: it would be nice to be able to display:

[code]

instead of

[code]

[2019-08-07 23:19] itowlson commented on #242
I realise this could be done using the `custom` section of the bundle, and I would certainly use that for other action-related stuff (e.g. if I want icons on the buttons); but I feel that a display name is likely to be of wide enough use that it could be part of the standard.

[2019-08-07 23:49] itowlson opened #244 "Clarify the expected behaviour of multiple invocation images"
A bundle may specify multiple invocation images.  When a CNAB runtime executes such a bundle, does it execute a single invocation image, or does it execute all compatible invocation images?  If only a single image, how is this determined?

The current Duffle behaviour appears to be to pick the first invocation image in the JSON array whose image type is compatible with the driver specified by the

[2019-08-08 02:55] itowlson opened #245 "Clarify how outputs are stored in a claim"
The Claims specification says "The output data saves the contents of each output file at the end of the action. The data is a map from output name as defined in the bundle to the content of the file located at the path defined for that output."  (https://github.com/deislabs/cnab-spec/blob/master/400-claims.md#outputs)

* Are output file contents always recorded in the claim `outputs` section as st

[2019-08-08 09:51] astrieanna opened #246 "Can you "downgrade" deployed software by running the `upgrade` action?"
Is it valid to "downgrade" by running `upgrade` using an earlier version of the bundle?

This impacts what CNAB runtimes should allow and also how bundle authors should write their bundles.

The runtime does not provide the "to" and "from" `bundle.json`s to the invocation image on upgrade, so the bundle only has the parameters or the running software as a source of "which version deployed this".

[2019-08-08 09:52] astrieanna commented on #237
I will add this to the top, to track the list of options.

I agree; I think Option 1 is better than Option 2. I just wanted to give both because they're about as easy for the spec/runtime and I could be missing something. I'll strike Option 2 through to represent that it's just a worse version of Option 1.

I'll add a section for these at the top.

Let's move this to a separate issue; I've created

[2019-08-08 22:03] vdice commented on #245
For the first bullet point, I'd think we'd want the value to be of the type associated with the corresponding output definition (the valid json schema type).  It appears the spec needs updating to clarify this, if we agree on the aforementioned, unless the spec truly intends to keep it wide open/undefined (expecting/allowing runtimes to decide what type of output values are recorded).

For the sec

[2019-08-08 22:19] itowlson commented on #245
Another question that came up: When an operation runs does it replace all outputs in the claim or only the ones that have it in their `applyTo`?  E.g. if output `a` applies to actions `install` and `status`, and output `b` applies only to `status`, then after doing an `install` followed by a `status` what would I have in my claim?

[2019-08-08 22:31] jeremyrickard commented on #240
I think we should add it in the 400-claims. This isn't part of the core spec so I think we're free to iterate on that. I _think_ it was an omission. I think it makes sense to include, just like we have it for the bundle itself, extensions might need to store whatever.

[2019-08-08 22:43] itowlson commented on #245
@vdice Re the first bullet point, I am okay with that though it was not quite what I expected.  So runtimes are expected to parse (and optionally validate?) the output contents if the type is other than `string`?

Re the second, that sounds fine.  Most bundle authors will not bother to specify a `contentEncoding` but I expect most outputs will be inferred correctly by most tooling languages!  Shou

[2019-08-08 23:25] itowlson opened #247 "What is the meaning of `readOnly` in a definition?"
The typical usage of `readOnly` in JSON Schema, as far as I can tell, is for REST-type scenarios in which a particular attribute can only be _read_, not _written_.  It allows a schema to be written for the resource rather than separate schemas for reading and writing.  An example is a Person resource where a `GET /person/itowlson` might include a `lastLoginTime`, but `PUT /person/itowlson` should

[2019-08-08 23:31] itowlson opened #248 "What should runtimes do with `writeOnly` in a definition?"
From the CNAB bundle spec: `writeOnly: Indicates that the value of the parameter is sensitive and cannot be viewed once set or updated.`

* On a parameter, does this mean it must/should not be stored in the claim?  If so it might be good to call this out in the Claims spec (which currently just offers the blanket opt-out of "implementations MAY choose not to store [parameters] for security or port

[2019-08-08 23:41] itowlson opened #249 "How should runtimes handle `default` in definitions?"
1. If I have a parameter which is `required: true` and a definition which specifies a default value, does the default value inherently satisfy the requirement that the parameter be set?  Or must the user still always specify the parameter value (e.g. via `duffle --set`)?

2. If a parameter with a default is omitted, is the runtime meant to inject the default value when it runs the invocation image

[2019-08-08 23:46] itowlson opened #250 "Spec does not specify how to stringise non-scalar parameter types"
The spec allows parameters to be of type `object` and `array`.  But the runtime has to inject these parameter values into the invocation image via environment variables or files, which are inherently stringular.  There is no issue here for numbers, strings and booleans which have widely agreed`*` string representations; but we should state how runtimes should stringise object and array values, e.g

[2019-08-09 00:22] itowlson opened #251 "When is a claim result updated?"
The Claims spec (https://github.com/deislabs/cnab-spec/blob/master/400-claims.md) has this to say about the `result` attribute:  `result: The outcome of the bundle's last action`.  Additionally, the `result` contains a `status` which gives 'the status of the last phase transition' - this is an outcome such as `success` or `failure`.  Together these strongly imply that the result (and presumably ot

[2019-08-09 02:28] itowlson commented on #241
Minor note: JSON Schema reference URIs are not expected to be traversable; they are only identifiers, not locators.

"Even though the value of a $ref is a URI, it is not a network locator, only an identifier. This means that the schema doesn’t need to be accessible at that URI, but it may be. It is basically up to the validator implementation how external schema URIs will be handled, but one shoul

[2019-08-09 15:26] sbawaska commented on #237
I think we need a combination of `#1` and `#4` above.
As a bundle user, I would expect to run the `install` command until I get the command correct i.e. figure out the missing parameters/required permissions etc. Once all the preconditions are verified, and the install process starts, any subsequent failures should require an `uninstall` operation.

[2019-08-12 16:10] jeremyrickard commented on #214
Closing based on the discussion above.

[2019-08-12 16:10] #214 closed

[2019-08-12 20:13] itowlson opened #252 "Clarify stateless actions and installation names"
The spec at https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#custom-actions says: "Stateless actions can be invoked on a non-existing installation."

What is the intent of this?

1. It is legal to perform a stateless action with an installation name that does not correspond to any installation, or without an installation.

2. It is legal to perform a stateless action without an

[2019-08-13 09:24] silvin-lubecki commented on #252
On our side, `docker app` generates CNAB bundles with 2 stateless actions:
- one is `inspect`: it pretty prints the content of the bundle, so it does not require any installation
- the other is `render`: it prints a compose file filled with dynamic parameters, and does not require any installation either.

Hope it will give you some context @itowlson 👍

[2019-08-13 14:43] ashwin-venkatesh commented on #237
Having a combination of `#1` and `#4` alludes to having a `preinstall` command that runs a bunch of pre-checks to ensure the the infra is in a "good" state for an install. From an end user perspective, I like option `#1` as it has a nice flow of `install`-`install`-`install`, but as an author, the idea of the `install` step not having to make assumptions about what may or may not exist on the targ

[2019-08-15 11:42] carolynvs commented on #248
Porter's plan is to treat parameters and outputs with `writeOnly` as sensitive, which should not be printed to the console. We *** it out. It is still written to the claim and the outputs.

@ryanmoran gave us a good link to what writeOnly means a while back when we were trying to figure out what it meant here: https://github.com/deislabs/cnab-spec/issues/164#issuecomment-487060780.

As for the sec

[2019-08-19 15:27] astrieanna commented on #250
Kind of related, PR to fix Duffle injecting `object` and `array` as golang prints them: https://github.com/deislabs/cnab-go/pull/96

[2019-08-20 15:56] vdice commented on #241
Tracking the work in https://github.com/deislabs/cnab.io/issues/15; closing this ticket.

[2019-08-20 15:56] #241 closed

[2019-08-21 17:44] astrieanna commented on #252
Not allowing stateless actions to require credentials seems limiting. What if you wanted to run a `preflight-checks` action that would, for example, check that a Kubernetes cluster meets all your requirements to install on it?
You could, of course, leave those checks in `install` and have the `install` action fail if any of those checks failed, but if a bundle wanted to provide that user experienc

[2019-08-22 19:15] jeremyrickard opened #254 "Clarify digest validation wording"
Currently, [101-bundle-json.md](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md) says:

[code]

At the last CNAB meeting, a question was asked if this wording was clear enough. Does stating "If this field is omitted, a runtime is not obligated to validate the image." clearly mean that if the field is provided, a runtime is obligated to validate the image or should we add wordi

[2019-08-22 19:43] ryanmoran commented on #254
I do not think that the wording is clear. We should say:
1. a digest is not required
2. if a digest is present, a runtime is required to validate

[2019-08-22 19:56] jeremyrickard commented on #254
This has implications on answering https://github.com/deislabs/cnab-go/issues/101

[2019-08-22 21:39] squillace commented on #254
A digest is currently required when

Per the cnab-go comment above, I refer to the explanation that @technosophos laid down in https://github.com/deislabs/cnab-spec/pull/230#issuecomment-514312953:

So, here "ready for transmission" means "the packaging phase of the cycle". In https://github.com/deislabs/cnab-go/issues/101#issuecomment-524081866 I argued the following should be adopted:

1. a dige

[2019-08-27 16:50] carolynvs opened #256 "Update schema to be consistent with limitations of canonical json"
Canonical JSON doesn't allow for decimal numbers, only integer. We should update the `$schema` we use to a customized json schema draft 7, switching from numbers to integers for fields such as `minimum` etc.

For example, draft 7 has maximum defined as

[code]

but a value of `0.5` isn't valid, so we would copy draft 7 and change maximum to

[code]

Here is the related issue that prompted me to op

[2019-08-28 13:27] glyn commented on #256
According to https://github.com/mozilla/normandy/issues/1210#issue-306614862, some canonical JSON implementations do appear to support decimal numbers, but are not consistent with each other, thus defeating the object somewhat. Also, there is an assertion there that there is no standard for canonical JSON, so it's probably best not to go _off piste_ and come up with our own implementation that inc

[2019-08-28 14:45] radu-matei commented on #256
Not sure about changing the `number` types to `integer` though.

That being said, I don't see any scenario where we would stop using canonical JSON - currently it is the only way to ensure that the same contents of a bundle would yield the same content digest, which is an important part of the security specification.

[2019-08-28 14:49] glyn commented on #256
I think someone, possibly @carolynvs, was thinking of using strings when decimals really are needed. I'd like to see all the usages of `maximum` to know whether any of them need to be decimals.

[2019-08-29 14:40] #240 closed

[2019-09-03 16:58] JetstreamRoySprowl opened #258 "104 Spec wording issue"
In https://github.com/deislabs/cnab-spec/blob/master/104-bundle-formats.md#thick-and-thin-bundles,

should “possible (and desirable) to move a small artifact” be “have” rather than “move”?

[2019-09-03 16:59] JetstreamRoySprowl opened #259 "103 spec wording issue"
On this page: https://github.com/deislabs/cnab-spec/blob/master/103-bundle-runtime.md,

“it MUST treat the file as if it were the root path were prepended.” contains too many “were”s.

[2019-09-03 17:55] #256 closed

[2019-09-03 19:31] radu-matei commented on #245
@itowlson - has this been answered? Can we close this issue?
Thanks!

[2019-09-04 00:06] youreddy commented on #247
It's important to note that `readOnly` and `writeOnly` are annotations in JSON schema and that a runtime shouldn't throw a _schema_ validation error if the annotation is violated. Which is unfortunate because it means the user who configured a `readOnly` param won't get useful feedback on why their config was not applied.

Which is why I agree that behavior should be further clarified in the spec.

[2019-09-04 00:12] youreddy commented on #249
1. the default value should inherently satisfy the requirement
2. feels like it would be easier for the runtime to inject it
3. from what I'm reading [here](https://github.com/deislabs/cnab-spec/blob/master/101-bundle-json.md#outputs), `outputs` does not have a `default` field.

If there's no disagreements on the above, we should make these clarifications to the spec.

[2019-09-04 07:25] glyn commented on #142
I don't think invocation images need to be "air-gapped-aware" _per se_: they just need to support relocation mappings.

[2019-09-04 07:29] glyn commented on #244
I'm not sure matching image type is the whole story. What if there are multi-arch (OCI or docker) invocation images with no matching architecture or OS? We'd presumably skip these too, although I'm not sure what precise mechanism we'd use to do the matching. Would we try executing them and spot a particular kind of failure?

[2019-09-04 14:53] chris-crone commented on #242
Couple of thoughts on this:
1. What about localisation?
1. Would it be sufficient to say that a UI _MAY_ use whatever is after the last dot is the "display name" with `-` and `_` replaced by `<space>`?

[2019-09-04 14:59] chris-crone commented on #246
As the logic for what happens during an upgrade lives in the invocation image, I'd recommend letting the bundle authors decide.

[2019-09-04 15:14] chris-crone commented on #237
Option 4 is the safest for install but I agree that specifically when upgrading a way to rerun the command would be nice (i.e.: option 1).

I think that we should punt this to bundle authors with a recommendation to support rerunning at least the upgrade action.

[2019-09-04 15:28] carolynvs commented on #242
I've never liked the dotted syntax and that it ended up in the spec to begin with (/bias). 😀  So I am in favor of whatever we can do to not have it forced onto the tools/UIs.

Localization is a great thing that we should do but I think that it is also a big thing that is larger than what Ivan is asking about. Hopefully we can do something similar to 2 for now to get by and localization could come

[2019-09-04 15:41] carolynvs commented on #249
For 3, an output references a definition, just as a property does. The schema for definition is shared between output and property so an output can reference a definition which could have a default defined.

Based on that, it's a valid question to ask if the runtime should default an output when the invocation image doesn't write to the output file (right now it's a hard error in cnab-go about the

[2019-09-04 15:41] chris-crone commented on #242
+1 to this especially if we have tools doing it.

On projects where I've had to worry about localisation before, we've needed a unique key and description. We have that as part of actions in the spec already so we can use that.

[2019-09-04 15:43] carolynvs commented on #250
Based on how the PR was resolved, do we need to update the spec to match what we did in cnab-go?

[2019-09-04 15:51] carolynvs commented on #251
As a related question, I've had actions fail in the middle of an operation (maybe someone CTRL-C'd out of it, or there was some fatal panic that prevented the claim from being written). It's not clear to me if I can/should be updating the claim at the beginning of the operation to indicate that the tool is initiating the op, so that we don't lose information for example that "upgrade was started"?

[2019-09-04 16:08] glyn commented on #142
Consensus at CNAB meeting: this isn't a problem. Closing.

[2019-09-04 16:08] #142 closed

[2019-09-04 16:16] carolynvs opened #262 "Localization and Internationalization"
In the 2019/9/4 CNAB Community Meeting we agreed that the spec may need additional detail around display, localization and internationalization. This was split off from #242.

We want to officially support providing proper text replacements instead of just a single field for display text (which would only provide assistance for a single language) or rely on a workaround as suggested in that origin

[2019-09-04 16:16] carolynvs commented on #242
I'm splitting localization/internationalization off as a separate/larger concern based on feedback during the cnab community meeting on 2019/9/4. https://github.com/deislabs/cnab-spec/issues/262

The suggestion for the interim was to include the second solution to the non-normative section on how to display the dotted custom action names.

[2019-09-04 16:20] glyn commented on #245
Consensus at CNAB meeting: let's close this. Please re-open if it needs to be looked at in the claims spec.

[2019-09-04 16:20] #245 closed

[2019-09-04 16:27] carolynvs commented on #250
Radu says that we don't have to worry about numbers because canonical json doesn't allow for anything but integers. 😀

[2019-09-04 16:28] carolynvs commented on #250
I'll update the spec to clarify that objects and arrays must be represented as json.

[2019-09-04 16:32] glyn commented on #39
Closing. If we missed something, please re-open.

[2019-09-04 16:32] #39 closed

[2019-09-04 18:25] #258 closed

[2019-09-04 19:47] #248 closed

[2019-09-04 19:48] #244 closed

[2019-09-05 21:10] #252 closed

[2019-09-05 22:53] #250 closed

[2019-09-05 23:09] #249 closed

[2019-09-05 23:16] jeremyrickard commented on #247
Closed by #265

[2019-09-05 23:16] #247 closed

[2019-09-05 23:31] #259 closed

[2019-09-06 00:56] #254 closed

[2019-09-06 09:54] ndeloof opened #273 "Clarify character set constraints on name (Add a link to the Unicode spec)"
spec says

    The Unicode graphic character set allowed for name includes letters, numbers, punctuation, symbols, and spaces; it does not include newlines or tabs.

I'm not sure this definition is clear enough on supported characters. Typically, what does _symbols_ mean ? Can I use Klingon characters? emojis?  Unicode Character 'BACKSPACE' (U+0008)  etc.

Maybe clarify using explicit Unicode Gene

[2019-09-06 17:32] #246 closed

[2019-09-06 17:47] technosophos commented on #273
"Unicode Graphics Characters" is a defined set of Unicode characters.

https://www.unicode.org/versions/Unicode5.2.0/ch02.pdf#G25564

[2019-09-06 17:48] technosophos commented on #273
Oops... the link was to the spec, and the quote was from the wikipedia entry on graphic characters.

https://en.wikipedia.org/wiki/Graphic_character

[2019-09-06 17:49] #237 closed

[2019-09-06 19:04] ndeloof commented on #273
Oh ok. I googled for it but didn't found anything obvious.
Then a link would avoid stupids like me to make such a mistake ;)

[2019-09-06 19:57] technosophos commented on #251
@itowlson I believe the description of `result.action` is incorrect. It should probably be `the name of the action that last caused this claim to be updated` (which is a nice succinct way of working around the fact that some actions do not alter the claim, like stateless actions.

@carolynvs ideally, the runtime would create a claim for a failed action (at least, this is what we did in Helm, and i

[2019-09-06 20:24] carolynvs commented on #251
I see two areas of improvement for later:

1. Providing a way to indicate on a claim that an action has begun. Consider the prototype CNAB Dashboard I showed a while back. If we updated the claim when an action has started, you could know which bundles are being currently executed, and which action. Right now claims are stored on the local file system so it may not make sense, but if you think abo

[2019-09-06 21:48] technosophos commented on #273
Thanks! I updated the title and will do a PR next week.

[2019-09-13 15:26] astrieanna opened #279 "Credentials and Parameters should have the same structure"
Currently, credentials cannot have definitions and cannot apply to only some actions. Parameters can do both of these things.

Since the main difference between credentials and parameters is the semantic one (does the invocation image use the credentials or does the application-being-installed), I think these should be identical in structure in the bundle.

This would also impact `stateless` custo

[2019-09-13 18:02] carolynvs commented on #279
I agree that if they are supposed to only be semantically different, it would really help if they had the same capabilities.

Also it's super annoying to have to specify credentials for actions that don't need them. 😀

[2019-09-13 19:46] jeremyrickard commented on #279
I'm super in favor of this, thanks for opening @astrieanna.

I think this introduces a question, we've made the spec 1.0. Does this necessitate a 1.1? Thoughts @technosophos? I'm happy to open a new milestone for 1.1 and we can start tracking things.

[2019-09-16 20:24] technosophos commented on #279
It would need a 1.1, which is fine with me. If it introduces backward compatibility breaks, it would need a 2.0, so I would prefer not to do that. But... judging by the description of what @astrieanna would like to change, I don't think we'll have any breaking changes.

[2019-09-20 20:09] mikekillam1952 opened #284 "$ref value "http://cnab.io/v1/definitions.schema.json" returns 404"
Lines 217 - 222 of the cnab-spec/schema/bundle.schema.json contains:

217    "definitions": {
218      "additionalProperties": {
219        "$ref": "http://cnab.io/v1/definitions.schema.json"
220      },
221      "type": "object"
222   },

The $ref value "http://cnab.io/v1/definitions.schema.json" is causing a 404 'not found' failure in code (go) used to verify that a payload (JSON) meets the CNAB

[2019-09-22 22:40] carolynvs commented on #284
We don't use http://json-schema.org/draft-07/schema#/definitions because we use canonical json, which disallows numbers, only integer values are supported.

We have an [open issue](https://github.com/deislabs/cnab.io/issues/15) to host the schema on cnab.io with some good ideas for now to implement it. Sounds like we need to bump that up in priority.

Thanks for letting us know that it is breaking

[2019-10-02 16:30] glyn opened #285 "Declarative installation support"
# Problem
CNAB has been criticised from a security standpoint since installing a bundle requires the bundle’s invocation image (i.e. imperative application code) to run with elevated privileges (that is, higher privileges than the bundle's application code needs).

CNAB aims to support a diversity of cloud environments. For such generality, imperative installation code is needed since a standard i

[2019-10-03 15:03] squillace commented on #285
I think also a document describing the general problem might help illuminate where the issues are and what can and should be done:
1. That this is a general software problem, not a CNAB issue, or a container issue. You CAN inspect a kube manifest, for example, but it installs stuff you may not have or be able to inspect. Same issue. Kube has RBAC tools that mitigate; but that requires you to use t

[2019-10-03 15:35] glyn commented on #285
Yes, let's limit the scope of this issue to declarative installation support (with kubernetes as the principal driver of requirements).

[2019-10-03 15:37] squillace opened #286 "DOCS: Using Bundles and CNAB tools to increase security"
Issue to track potential document from #285, mentioned in https://github.com/deislabs/cnab-spec/issues/285#issuecomment-537985529.

[2019-10-04 15:39] jchesterpivotal commented on #285
By "declarative" do we mean:

1. Users would give a target state and a trusted component (or components) creates a plan and then applies the plan?
2. Users would have a limited palette of fixed actions, which they form into a plan themselves, handing over to be applied by a trusted component?

In both cases there's presumably some trusted component or (ideally) components that carry out parts of a

[2019-10-04 19:21] trishankatdatadog commented on #285
Yes, agree with @jlegrone that signing and verifying invocation images with [CNAB Security](https://github.com/deislabs/cnab-spec/blob/master/300-CNAB-security.md) will go a long way...

[2019-10-08 08:19] glyn commented on #285
Yes, that's what I have in mind. More specifically, I'd be surprised if the solution didn't exploit an existing format such as kubernetes YAML files, Helm charts, etc.

[2019-10-08 08:24] glyn commented on #285
That can indeed help, but please think of this issue being "belt and braces" ("belt and suspenders" for Americans) in addition to CNAB security.

[2019-10-08 17:15] astrieanna commented on #285
I'd like to suggest a potential approach to adding support for declarative, invocation-image-free bundles. I think this should implemented as an extension, since there are open questions on the specifics. Extensions can change essentially anything about the rest of the bundle since only CNAB runtimes that recognize the required extension should operate on the bundle. This gives a lot of room for e

[2019-10-14 08:33] glyn opened #287 "Clarify contentDigest meaning for docker/OCI images"
Let's start with some definitions (based on the ["OCI Image Format Specification"](https://github.com/opencontainers/image-spec/blob/master/spec.md)).

Docker and OCI images have two types of digest: a _repo digest_ and an _image id_. A repo digest is the SHA-256 digest of the _compressed_ image manifest. Since compression depends on the implementation of the registry used to store the image, the

[2019-10-15 15:56] jeremyrickard commented on #285
TL;DR: Working on Porter has made me envision CNAB.next as being a manifest that says something like:

* what trusted installers will I use (and how)
* what OCI artifacts will I references (Helm Charts, TF modules/configs, Docker Images, trusted installers themselves)

@glyn @astrieanna our work with Porter has been making us think of something along the lines of your `installation images` thinkin

[2019-10-19 18:32] trishankatdatadog commented on #285
It is important to note that when using multiple CNAB registries, CNAB Security guarantees, at best, the end-to-end provenance of bundles. It cannot guarantee that developers of bundles are not malicious or have not been compromised. The issue of trust is similar to adding third-party repositories on Linux distributions: you basically trust the developers at the end of the day. Therefore, you migh

[2019-10-21 07:51] glyn commented on #285
Thanks @trishankatdatadog. So one way to think about the need for "belt and braces" is when there are multiple CNAB registries and where a customer really wants the function of a particular bundle but isn't sure whether to trust the provider of the bundle completely. In that situation, declarative installation should make it possible to introspect the properties of the bundle and work out _in adva

[2019-10-21 14:34] jchesterpivotal commented on #285
@glyn I agree that knowing the permissions in advance is a worthy goal.

How will we know we have achieved that goal? I feel like the space of candidate solutions is vast, so it would be interesting to get a tighter grip on the mischief.

[2019-10-22 15:54] astrieanna commented on #285
## +1 to storing static files as OCI Artifacts
@jeremyrickard I like the idea of using OCI Artifacts to store the non-image files needed by declarative bundles. (I hadn't realized that you could store non-image things in an OCI registry.) I'm happy with saying that the CNAB runtime should then be able to display those files for the user's inspection; actually templating anything else into place is

[2019-10-31 20:42] carolynvs commented on #285
Jeremy was sharing how Porter works, which is by using an adapter between CNAB's runtime and  native tools, such as helm or terraform, which Porter calls "mixins". [Mixins](https://porter.sh/mixin-dev-guide/architecture/) are binaries that conform to a standard interface and handle adapting between that YAML he pasted earlier and properly executing the native binary (e.g. helm/terraform). The mixi

[2019-11-09 19:50] cocowalla opened #292 "Interactive installs [FEATURE REQUEST]"
Following on from Slack conversations with Porter and Duffle devs, this is a feature request for the ability to do interactive installations.

As an example, let's say I have a bundle that takes several parameters, and I want to make it easier to install for less Linux-savvy users - an interactive CLI installation would be really beneficial here, prompting the user to enter a value for each parame

[2019-11-21 15:49] silvin-lubecki commented on #215
We have the same issue here on docker app. We can't use the json schema provided by the specs to validate the bundles, as AFAIK there's no ECMA-262 compatible regexp implementation in Go, and all the json schema implementations in Go use the regexp package provided by Go.
So even just parsing the schema is not possible... I'd be more in favor with removing it from the schema and add a proper valid

[2019-11-21 16:45] silvin-lubecki opened #296 "Upgrade action should mount the previous bundle"
The current bundle is mounted in the invocation image, as stated in #196 . So during `upgrade` we only have access to the new bundle, not the previous.
But I think some invocation images would need the previous bundle to compute a diff (ex: are there new services? Did the port changed? Should we delete a service ? etc..) and apply specific actions.
As the previous bundle is stored with the `Claim`

[2019-11-21 17:15] carolynvs commented on #296
It would be incredibly helpful to have the entire claim available to the bundle on subsequent actions (not just upgrade). That would give the bundle, previous outputs and parameters used.

[2019-11-21 17:36] silvin-lubecki opened #297 "A claim should have a reference to the bundle"
Currently when we read a claim, there is no way to know which bundle has been originally used, as we only store a copy of the bundle itself and not a reference to the original one.
This means that on a later action on an installation (upgrade, custom action...), as we only have the bundle copy from the claim, we have several problems:
* we lose all the bundle signing benefits, so I guess someone c

[2019-12-11 17:13] technosophos opened #298 "Claims Spec: Clarify "installation" "release" and similar language"
The terms "installation" and "release" are not particularly well defined. We should clarify the terms and how they relate.

See #295 for discussion

[2019-12-13 22:19] #297 closed

[2019-12-29 08:36] nowisekxxx opened #301 "Can we open this as an issue and circulate it a little. I think @carolynvs may have some thoughts on this as well, but she is out on holiday."
Can we open this as an issue and circulate it a little. I think @carolynvs may have some thoughts on this as well, but she is out on holiday.

_Originally posted by @technosophos in https://github.com/cnabio/cnab-spec/pull/295/commits/a55a1cdb11044fd5e0c49287f54902a2b06dafc3_

[2019-12-29 14:54] #301 closed

[2019-12-30 00:12] nowisekxxx opened #302 "```suggestion"
[code]

_Originally posted by @trishankatdatadog in https://github.com/cnabio/cnab-spec/pull/288/files_

[2020-01-02 17:27] vdice commented on #302
Until convinced otherwise, it appears this is the work of a bot/automation account.  Discarding.

[2020-01-02 17:27] #302 closed

[2020-01-06 19:09] technosophos opened #303 "Claims: Change `name` to `installation`?"
Per @jlegrone 's comment on #295, should we change the field `name` on claims to be `installation`?

Doing this will break existing tools, but it might be clearer.

[2020-01-06 22:09] technosophos commented on #296
The currrent version of the spec says:

So what we want is something like `/cnab/current/claim.json` and `/cnab/last/claim.json`?

[2020-01-06 22:36] vdice commented on #296
My initial opinion/reaction was that mounting just the one claim in its current form to `/cnab/claim.json`, as is now mentioned in the spec, is sufficient.  Then, if deemed appropriate, various states would be tracked in this one, updated claim (perhaps preserving a record of state for all previously run actions).  However, if we go the route of capturing and preserving state across all actions, t

[2020-01-07 09:16] silvin-lubecki commented on #296
@vdice I like your idea of splitting into multiple directories, but what would be the claims mounted? The last claim of that action? Or the last successfully applied action claim?

[2020-01-07 17:57] vdice commented on #296
@silvin-lubecki oh right, I see I missed that fundamental point of the original issue... good question.  Hmmm... what do others think?

[2020-01-07 23:34] technosophos opened #306 "Fix the CONTRIBUTING guide to point to DCO instead of old CLA"
Current guide:

That is incorrect. Currently, we are requiring a signoff, DCO-style.

[2020-01-08 18:44] trishankatdatadog commented on #287
Great question! I think _image id_ is the better idea, since it's registry-independent... @jlegrone

[2020-01-09 15:43] technosophos commented on #296
I should have been clearer in my last message.

The design of the claims system originally was that _if there was a previous version of a claim, it would be accessible_. Then the action would occur. Then a _new_ version of the claim would be stored.

So on install, no claim exists (because there is no previous claim). At the end of the _install_ action, a new claim is created.

But say we upgrade

[2020-01-09 15:43] #306 closed

[2020-01-09 15:58] carolynvs commented on #296
I was asking that the previous claim be mounted, i.e. if we just did an install and are now doing an upgrade, mount the claim from the install. At the time of my comment, this was not in the spec or implemented in any runtime.

[2020-01-09 16:41] technosophos opened #312 "Claims: Store a claim when an action has started"
From @carolynvs  #251:

Providing a way to indicate on a claim that an action has begun. Consider the prototype CNAB Dashboard I showed a while back. If we updated the claim when an action has started, you could know which bundles are being currently executed, and which action. Right now claims are stored on the local file system so it may not make sense, but if you think about in the future when

[2020-01-09 16:43] technosophos commented on #312
The second half of that comment is relevant, but more to how Duffle should work:

[2020-01-09 16:45] technosophos commented on #312
This issue seems to have been addressed when `status: underway` was added.

[2020-01-10 14:26] silvin-lubecki commented on #296
@technosophos yes that would satisfy my initial requirements, but if I understand the specs correctly, we will always mount the last claim, resulting from the last action, whatever it was successful or not.
So if I try to update my app and fail, say because I made a mistake with one parameter, then fix it and try to update again, the claim mounted would the one with the mistake right, not the one

[2020-01-15 06:55] jeremyrickard opened #313 "Does the claims spec provide enough specification?"
I'm curious how the claim system is intended to be used between actions on a bundle. Suppose a bundle does an installation, which produces output X. Then an upgrade (with a different bundle version) adds an output Y. I think the claims spec under specifies what the expected behavior is right now.

Porter has this issue open right now: https://github.com/deislabs/porter/issues/836

Is this a bad in

[2020-01-16 09:49] glyn opened #314 "Document security implications of using multiple servers to host metadata repositories"
This relates to CNAB Security 301: Metadata repositories as described in https://github.com/cnabio/cnab-spec/pull/281. See https://github.com/cnabio/cnab-spec/pull/281#discussion_r363237658.

A usecase I have in mind is where a user consumes bundles from multiple vendors who do not share a single, central server. I expect this to be the case if CNAB becomes popular and is adopted by multiple vendo

[2020-01-16 16:20] trishankatdatadog commented on #314
Thanks for filing this issue!

[2020-01-17 16:23] jeremyrickard commented on #287
I think we discussed this way back in 2018 in the early days and this was a common view. I think we ended up going with the assumption it was the repo digest, I’ll see if I can find an old issue in the Duffle repo!

I think the image id is attractive since it has no registry requirement.

[2020-01-23 22:10] corhere opened #316 "Spec is contradictory on how string-type parameter values are encoded"
The [Setting Parameter Values section of the bundle runtime spec](https://github.com/cnabio/cnab-spec/blob/master/103-bundle-runtime.md#setting-parameter-values) seems to contradict itself. The parameter value evaluation rules state (#269)

But the examples in the section do not seem to follow this rule. The `path` destination example states that the `/var/run/greeting.txt` file would be created w

[2020-01-24 13:46] carolynvs commented on #316
In practice, the CNAB tools do not marshal every parameter as json. I often reference this PR to the cnab-go library to understand what is marshaled and how.

https://github.com/cnabio/cnab-go/pull/96/files

[2020-01-24 19:30] corhere commented on #316
I see that the spec does not use any MUST, REQUIRED or SHALL language for the value encoding, so cnab-go is free to deviate from the encoding rule (encoding string parameter values as UTF-8) while still technically being in compliance with CNAB Core 1.0. But this also allows for other compliant CNAB runtimes to encode parameter values differently, which could be troublesome for interoperability. I

[2020-01-27 23:09] technosophos commented on #316
I am not totally sure how to interpret that line of the spec. I was under the impression that what it meant was that values are to be encoded using the JSON specification's definition of `string` (e.g. for escaping characters and such). But the suggestions here are that it means "values are to be inlined JSON documents."

The PR that @carolynvs referenced seems to confirm the later reading... sort

[2020-01-28 03:40] jeremyrickard commented on #287
Some of this history was on Docker’s slack I think, so that’s not all going to be recoverable (unless Docker can get it), some related comments and discussion:

https://github.com/cnabio/duffle/pull/691#issuecomment-480893767

[2020-01-29 16:36] carolynvs commented on #316
This makes sense to me and clears up how to treat primitive types. 👍 Really as you said it's up to the parameter consumer, the runtime doesn't care.

[2020-01-30 10:21] chris-crone commented on #316
I agree with Matt's reading and clarification of this for non-primitive types.

The other issue raised by @corhere is about character encoding for the mounted parameter file. To this I would add line endings as a possible problem too. We could amend:

To be (additions italicised):

I chose _SHOULD_ here as this would not be natural for non-UNIX systems. I chose not to say POSIX as that adds requir

[2020-02-03 16:32] marcvaneijk opened #319 "Standardize spec version layout and use versioning per described process"
This is great stuff! Thank you for driving this effort.

I was a little confused reading through the content of this repo.

[901-process](../blob/master/901-process.md) describes the various stages a specification goes through.
The different specifications, sub specifications and non-normantive documents currently use non consistent formatting, which is confusing when trying to understand where th

[2020-02-12 20:24] jlegrone commented on #285
I'll start with a TLDR:

The extensibility of invocation images is at the core of what I think makes CNAB a worthwhile investment. Attempting to adopt "declarative installers" as described would introduce many of the very problems CNAB was originally designed to sidestep, while the issues discussed here may already have solutions within the bounds of the spec as it is today.

---

In the discussio

[2020-02-12 20:37] trishankatdatadog commented on #285
I agree: CNAB-Sec should be able to give guarantees on the authenticity, integrity, and even provenance of your bundle. If something is missing, please let us know.

[2020-02-12 21:52] jchesterpivotal commented on #285
A nitpick:

Validating the provenance of an image defends against injection of malicious code somewhere in the supply chain. But it doesn't prevent injections by insider threats or, much more likely: bugs that create vulnerabilities.

Putting it another way: a design defense that increases confidence is strong provenance guarantees. Another defense to increase confidence is minimal permissions. So

[2020-02-12 22:17] jlegrone commented on #285
Right, and this is where a curated set of invocation images is useful. Runtimes can enforce that any bundles they install use a whitelisted invocation image, or even swap out the provided invocation image for a preferred one if the contents of the bundle are known (this could handled via a [custom extension](https://github.com/cnabio/cnab-spec/blob/master/101-bundle-json.md#custom-extensions)).

I

[2020-02-12 23:33] technosophos commented on #292
For the CNAB Core 1, I think we are going to not introduce this into the standard. It works for some cases, but introduces a lot of difficulties that we fear would lead to incompatibility between bundles and their runtimes.

Your second option -- supporting this via either library code (e.g. cnab-go or cnab-rust) or a stand-alone wrapping tool -- sounds great to me. That's outside the scope of thi

[2020-02-12 23:37] technosophos commented on #287
I don't think you can reasonably call a hashed file "a root of a merkle tree". That assumes an intent that is clearly not there in VM images (namely, that they are tree-structured).

I am not understanding, though, what particular change you are requesting in the spec. Is it a clarification of which SHA Docker considers to be _the correct_ SHA? Or are you proposing an alternative?

[2020-02-12 23:43] technosophos commented on #284
A stop-gap would be to use this URL:

https://raw.githubusercontent.com/cnabio/cnab-spec/cnab-core-1.0/schema/definitions.schema.json

[2020-02-12 23:45] technosophos commented on #279
This issue seems to be dead. Is anyone working on it?

[2020-02-12 23:46] technosophos commented on #273
The PR was merged a long time ago, so I am closing this issue.

[2020-02-12 23:46] #273 closed

[2020-02-12 23:47] technosophos commented on #262
This issue seems to be stalled. Was there more of a proposal?

[2020-02-12 23:59] technosophos commented on #262
Can we just use a Gettext-like strategy? https://en.wikipedia.org/wiki/Gettext

[2020-02-13 00:04] technosophos commented on #215
If anyone is interested in replacing this, can you create a PR? If it can be done without breaking any existing CNAB modules, we can include it in CNAB Core 1.1.0

[2020-02-13 00:04] technosophos commented on #213
Is anyone working on this? The issue seems to have gone stale.

[2020-02-13 00:05] technosophos commented on #204
I am closing this issue since CNAB Core 1.0 shipped. We cannot change it at this point.

[2020-02-13 00:05] #204 closed

[2020-02-13 00:06] technosophos commented on #179
I am closing this, since it does not appear that there is remaining work here for the spec. Feel free to re-open if I misunderstood.

[2020-02-13 00:06] #179 closed

[2020-02-13 00:07] technosophos commented on #170
Has anyone done this yet? This issue seems dead.

[2020-02-13 00:08] technosophos commented on #163
I am closing this issue, as the spec for CNAB Core 1.0 is done, and milestones are used to track what is one the roadmap. Feel free to re-open if you have a concrete proposal

[2020-02-13 00:08] #163 closed

[2020-02-13 00:08] #161 closed

[2020-02-13 00:09] #156 closed

[2020-02-13 00:10] technosophos commented on #90
Closing as wontfix, since nothing has been done in the last year.

[2020-02-13 00:10] #90 closed

[2020-02-13 00:11] technosophos commented on #82
This has been done with the merging of sections 301-303.

[2020-02-13 00:11] #82 closed

[2020-02-13 00:12] technosophos commented on #70
Is anyone working on this or any other part of localization? I know the Helm project has just recently employed a localization strategy. If anyone has time, feel free to pitch a proposal!

[2020-02-13 00:14] technosophos commented on #57
No solution has been proposed in the last year, so I am marking this as closed. Feel free to re-open with a proposal.

[2020-02-13 00:14] #57 closed

[2020-02-13 00:15] technosophos commented on #40
Closed due to inactivity (and much better documentation since this was originally requested)

[2020-02-13 00:15] #40 closed

[2020-02-13 00:16] technosophos commented on #27
I think #213 is a duplicate of this.

[2020-02-13 00:16] technosophos commented on #213
Closed as a duplicate of #27

[2020-02-13 00:16] #213 closed

[2020-02-13 07:47] glyn commented on #287
This issue is scoped to docker/OCI images.

If I consume a bundle containing a docker/OCI image with contentDigest specified, I need to know whether that's the repo digest or the image id in order to verify it. I'm not asking which one is _correct_ from Docker's perspective: they both have valid uses. It's merely a choice that the CNAB spec. has to make.

Let's take a simple example to make this c

[2020-02-13 12:31] glyn commented on #285
The runtime whitelisting, or swapping out, the invocation image is certainly one approach. The runtime should be able to use the (e.g. kubernetes) declarations stored (somehow, TBD) in the bundle to determine the minimal permissions necessary for the invocation image to install the bundle.

This works fine if a suitable runtime is used. There is a risk that someone will unwittingly use an unsuitab

[2020-02-13 23:59] #298 closed

[2020-02-14 00:15] technosophos opened #326 "Claims: It is unclear what happens to outputs on various operations"
A question was raised as to what happens to outputs operation to operation: https://github.com/cnabio/cnab-spec/pull/309#discussion_r366716640

@jeremyrickard says:

For my part, I am not sure why outputs would persist from one to the next. That seems to me to be a misuse of a claim, which tracks only the state of the last operation. (It is not intended to be a general-purpose data storage mechani

[2020-02-14 00:18] technosophos opened #327 "Claims: Outputs should be stored separately"
It was proposed in a comment here https://github.com/cnabio/cnab-spec/pull/309#discussion_r367614692  that outputs should be stored separately from claims.

In that issue, @jlegrone  said:

There was some follow-up discussion, but the issue needs to have a little more of a design to it.

Note that this will probably introduce breaking changes to libcnab-rust and cnab-go.

[2020-02-14 00:21] technosophos opened #328 "Claims: Move 'action' field to top level"
It was proposed here https://github.com/cnabio/cnab-spec/pull/309#discussion_r365505351 that the `action` field be moved.

@jlegrone says:

Note that this will break cnab-go and libcnab-rust, so if we decide to do this, we should create issues there

[2020-02-14 00:25] technosophos opened #329 "Claims: Move 'outputs' into 'results'"
It has been proposed here https://github.com/cnabio/cnab-spec/pull/309#discussion_r365505351 that we move `outputs` into `results`.

@jlegrone says:

Note that this will break cnab-go and libcnab-rust, so needs follow up issues if we decide to do it.

Note that this conflicts with #327

[2020-02-14 03:55] #319 closed

[2020-02-14 04:06] #251 closed

[2020-02-14 04:07] #316 closed

[2020-02-14 04:11] technosophos commented on #314
@glyn Are you still working on this?

[2020-02-14 04:17] technosophos commented on #313
It appears that you want to do things with output that the claims spec was not designed for. Claims were not supposed to be persistent data stores for arbitrary data. They were supposed to be a record of what the last operation on an installation was. It appears that what you (and possibly the rest of the Porter authors) want is a way to access outputs across multiple operations. In other words, y

[2020-02-14 04:20] technosophos commented on #312
I know there is still debate going on in #309 about what is meant by `underway`, but it sounds to me like the issue is that when a claims store is shared across multiple runtimes, the assumption is that a claim will exist, and that the claim will somehow serve as a lock or state file. I think that is possible with `status: underway`... though claims were really intended to be records of finished o

[2020-02-17 09:14] glyn commented on #314
Yes, but I'm looking for someone else such as @trishankatdatadog to fix it.

[2020-02-18 16:11] trishankatdatadog commented on #314
I can add a quick note

[2020-02-20 19:47] squillace commented on #285
This is a wonderful thread, frankly. As it's changed directions slightly, I wanted to re-summarize one of the OP's objectives:

I would restate this objective as, given that (at least) one critical target runtime has its own deployment system, does CNAB need to be modified in order to deploy _using_ that runtime only, or can this be done now? (Several reasons, mostly revolving around having to pas

[2020-02-20 20:52] #303 closed

[2020-02-24 10:07] glyn commented on #285
@squillace no, the objective is to install kubernetes applications, packaged as CNABs, without necessarily giving application code (particularly invocation images) elevated privileges.

The question you raise is whether the objective can be achieved without a spec change.

The earlier discussion proposed one solution: using a well known (docker/OCI) invocation image as a way of indicating that the

[2020-02-24 20:57] #284 closed

[2020-02-25 20:40] #242 closed

[2020-02-25 23:45] technosophos commented on #170
The current proposal is:

[code]

This appears to conform to the OCI artifact spec, as well.

See https://github.com/cnabio/cnab-to-oci/issues/100

[2020-02-25 23:52] carolynvs commented on #327
We (me, @jlegrone and @radu-matei) kicked off a WG last meeting while @technosophos was sick to hash this and the remaining claim questions out. Please hold off on calling claims done yet. Jacob and I just met tonight and made lots of progress that I will be drafting into PRs tomorrow.

[2020-02-26 00:06] radu-matei commented on #329
👍

[2020-02-27 01:05] jbeda commented on #285
Putting in my two cents here as we look to figure out what tool chain we want to standardize and support for VMware Tanzu (including Pivotal).

Our primary target is Kubernetes.  One of the goals for CNAB is to be flexible enough to target many environments. The extensible invocation images are the core of that.  This works *against* the goals of having a clear trusted tool chain that is delivered

[2020-02-27 16:19] glyn commented on #285
The [sheaf](https://github.com/bryanl/sheaf) prototype gives an idea of the kind of thinking inside VMware.

[2020-02-27 20:38] technosophos commented on #285
Maybe this is a question with an obvious answer, but... why not just use Helm 3 charts? They already achieve all of this, hand Helm 3 even includes support for storing objects in OCI registries. There's no requirement to use the templating features of Helm, artifacts are trivially easy to inspect, and it seems to achieve what Sheaf does already.

[2020-02-27 20:58] voor commented on #285
When evaluating Helm 3 for certain use cases the lack of a rigorous way to declare images specifically for image relocation created some roadblocks if I recall correctly -- I know there's some work in that area to try and rectify https://github.com/helm/helm/issues/7154#issue-532837264

[2020-02-28 02:29] jlegrone opened #337 "utcbnldigeetichf"
# Background

#285 has raised important points about the need to avoid granting overly permissive authority to invocation images via CNAB credentials.

The spec does not currently describe a mechanism for allowing bundles to communicate to a runtime what permissions they require in order to deploy to the underlying platform target. This problem is not specific to Kubernetes, but because Kubernetes

[2020-02-28 05:45] jlegrone opened #338 "Proposal: Extension for Declarative Kubernetes Installers"
# Background

In #337 we described a method to provide scoped credentials to bundles that install Kubernetes applications, but did not address application definition or deployment tooling. This proposal lays out a solution to another common thread in #285, preventing invocation images from becoming black boxes and allowing runtimes to swap out deployment tooling at will.

In the Kubernetes space a